[2017-07-29 15:55] #181 closed

[2017-08-16 11:57] pablorsk opened #182 "Example of \Neomerx\JsonApi\Http\Responses use"
I'm triying use `\Neomerx\JsonApi\Http\Responses` on Laravel + PSR-7, but I can't obtain an instance of `$responses`.

My code (all together only of explanation porporsues):
[code]

More information on [the wiki](https://github.com/neomerx/json-api/wiki/Parsing-API-Parameters#http-responses), but only says We can extend, but not found any practical example.

How can I set `$response` if I have PSR

[2017-08-16 12:35] neomerx commented on #182
Short answer: for simple `GET` responses you can use plain Response with `$result` as body and proper `Content-Type` (`application/vnd.api+json`).

Deeper answer: encoding objects into JSON API has some specifics such as certain headers should be added in certain cases thus `ResponsesInterface` implementation should wrap Encoder itself. So its usage looks more like
[code]
but not
[code]
Working pr

[2017-08-16 12:50] neomerx commented on #182
@pablorsk As [the lib](https://github.com/reyesoft/ts-angular-jsonapi) author can you give a working sample of client app? Preferably with a free license.

[2017-08-17 08:49] neomerx commented on #182
@pablorsk I haven't received any feedback from you for some time and have a feeling that your question was answered. If you have any further questions please don't hesitate to contact.

[2017-08-17 08:49] #182 closed

[2017-08-17 12:49] pablorsk commented on #182
@neomerx,

About [ts-angular-jsonapi](https://github.com/reyesoft/ts-angular-jsonapi), It would be an honor to make an example that works with neomerx json-api, but I need an online example, is it possible?

About Responses, first of all, THANK YOU. But, when you make an instance of Resposes can't find how make some params:

* `MediaTypeInterface $outputMediaType`
* `ContainerInterface $schemes`:

[2017-08-17 14:01] neomerx commented on #182
@pablorsk Do you mean an online example of a server? Sure. If you have PHP and composer installed in less than 60 seconds.
[code]
Done. Now you have a working demo server on port 8080

Basic test to check
[code]
will output
[code]

Do you use Postman? The easiest way to play with the server is `Postman`.

[![Run in Postman](https://run.pstmn.io/button.svg)](https://app.getpostman.com/run-collectio

[2017-08-17 14:15] neomerx commented on #182
Of course, I can provide you with a standalone sample of how to create Responses in Laravel environment. However, you should understand that it is only a fraction of what you really need to make fully functional JSON API server. You will need support for such heavy things as CRUD and validation (tough thing btw), filtering, and pagination.
If you are interested I also [started with Laravel/Lumen](

[2017-08-17 14:19] neomerx commented on #182
If you have doubts I've got some knowledge in Laravel/Lumen internals have a look at [this](https://github.com/neomerx/rhw-l5).

[2017-08-17 15:47] lindyhopchris commented on #182
@pablorsk if it helps, I have a fully running Laravel integration here https://github.com/cloudcreativity/laravel-json-api and a demo app here https://github.com/cloudcreativity/demo-laravel-json-api

[2017-08-17 15:54] neomerx commented on #182
@pablorsk projects from @lindyhopchris is also a good option to consider.

[2017-08-17 15:56] neomerx commented on #182
@lindyhopchris Don't you mind if I take your project for performance comparison as an example of Laravel project?

I had [interesting results](https://github.com/limoncello-php/framework/blob/master/docs/Performance.md) based on older version and of course, would be excited to compare with a more advanced app such as JSON API server with similar functionality.

[2017-08-17 22:42] pablorsk commented on #182
@neomerx thanks a lot for your help. I know my question is very basic, the only reason is obtain a simple example. We work with laravel + neomerx jsonapi here: http://multinexo.com/ ([API documentation here](https://dev.multinexo.com/docs/resources/products/)) We have CRUD and a lot of things. But I like work with your library but using PSR-7. Actually we use Laravel without PSR-7.

Having said th

[2017-08-17 23:29] neomerx commented on #182
@pablorsk Here is PSR7 sample

[code]

[code]

[2017-08-18 08:30] lindyhopchris commented on #182
@neomerx I haven't optimized it for performance yet - it's mainly about integrating your package and my additions in a "Laravel" way, and also making sure it's all usable with other Laravel features - e.g. broadcasting, views etc.

The performance of it is totally acceptable for the projects we're using it on at the moment, but it certainly needs optimizing. But will do that when I've settled the

[2017-08-18 08:50] neomerx commented on #182
@lindyhopchris I'm expecting it would be significantly about how Laravel itself works with routing, authentication, authorization, controllers, models, validation (partly) and other things you can't change.

[2017-08-18 08:54] bravo-kernel commented on #182
@neomerx will you be creating some sort of comparison chart? If so, it might be worth adding this CakePHP implementation: https://github.com/FriendsOfCake/crud-json-api. I can help setting up the system/instructions if need be.

[2017-08-18 09:38] neomerx commented on #182
@bravo-kernel we can actually work together on it :smile: I already have 3 comparisons for limoncello, lumen and slim and ok to accept `cake-json-api` :wink:

https://github.com/limoncello-php/framework/tree/master/docs/bench

To compare apples to apples let's have some common ground. Both limoncello and cloudcreativity implements similar messaging app (basic boards/sites, posts and comments + use

[2017-08-18 09:41] bravo-kernel commented on #182
Looks good to me mr. @neomerx and... basically all out-of-the-box for Cake.

I will see if I can find some time to set up a plain app, let's take it from there.

[2017-08-18 09:42] neomerx commented on #182
@bravo-kernel and it's some basic out-of-the-box limoncello :wink:

[2017-08-18 09:43] bravo-kernel commented on #182
No doubt and I am sure limoncello will be more/better featured ;)

[2017-08-18 10:17] bravo-kernel commented on #182
@neomerx for now I would be most comfortable whooping up a simple example for/using https://github.com/limoncello-php/framework/blob/master/docs/Performance.md.

Additions could be made later, given time or specs. I am a bit fore-warned about creating a full-fledged API (having learned from https://github.com/gothinkster/realworld)

[2017-08-18 10:22] lindyhopchris commented on #182
all sounds good, particularly as it'll give me performance stats to work off when I do get round to optimizing it. I'm prepared to be low down on the stats to start with though ;-)

[2017-08-18 10:41] bravo-kernel commented on #182
A database/model would be a nice thing to start with

[2017-08-18 10:47] bravo-kernel commented on #182
My bad, seems there already is: https://github.com/cloudcreativity/demo-laravel-json-api/tree/5.4/database/migrations

[2017-08-20 15:55] neomerx commented on #182
I've updated the [stats](https://github.com/limoncello-php/framework/blob/master/docs/Performance.md) for Hello World (limoncello vs lumen vs slim). For the last 3 months limoncello and slim look slightly better (which could be explained by changes in my environment: newer kernel, newer PHP, etc). Lumen looks noticeably worse in absolute RPS numbers which is an unpleasant surprise. I'm a bit worri

[2017-08-25 00:36] pablorsk commented on #182
@neomerx, [your example](https://github.com/neomerx/json-api/issues/182#issuecomment-323221030) worked perfectly on **Laraval + PSR-7**. Now, I'll work on a migration from _Laravel Routing_ to _PSR-7 Zend\Diactoros\Response_ of [Multinexo](http://multinexo.com/).

About [ts-angular-jsonapi](https://github.com/reyesoft/ts-angular-jsonapi), if you have an JSON-API online server demo, I need one for

[2017-08-25 06:44] neomerx commented on #182
@pablorsk Thanks for your support. Diactoros do not implement routing so you need something else. Limoncello uses _nikic/fast-route_ for it. I would recommend you start from [Core](https://github.com/limoncello-php/framework/tree/master/components/Core) Limoncello component which combines routing (fast route) + HTTP (Diactoros) + container (can use any but pimp is default). It's really compact, el

[2017-08-31 22:15] neomerx commented on #182
@bravo-kernel @lindyhopchris In case you're curious about limoncello performance for real app (tens of resources, authentication, authorization, CORS). Reading a list of resources with 2 included relationship is tested locally (Nginx, PHP-FPM, MySQL (Percona)) on consumer grade PC.
about 1180 RPS with less than 80% CPU usage (I think 1400-1500 can be squeezed if tuned properly)
[code]
**CPU Usage*

[2017-09-07 08:01] luniki opened #183 "Creating Link objects in SchemaProvider classes"
My SchemaProvider class "PostingSchema" returns its relationships like this:

[code]
Is there a way to call the getSelfSubLink method of the $user's schema class instead? Otherwise my code becomes very brittle as changing the UserSchema::resourceType would result in a broken link of the "author" relationship in the Posting.

[2017-09-07 15:00] neomerx commented on #183
As far as I understand you would be happy if the following was possible
[code]
So the question is 'How to add `getSchemaContainer` method?'

I can see it as following
- Have `CustomSchemaProvider` that adds get/set for Schema Container and all your schemas extend from this class.
- Have custom Schema Container that knows it works only with `CustomSchemaProvider` instances so it can override `creat

[2017-09-07 15:12] neomerx commented on #183
I've added it as an idea for next version of the lib https://github.com/neomerx/json-api/projects/1

[2017-09-09 09:29] neomerx commented on #183
@luniki I haven't heard any feedback from you for some time and have a feeling your question has been answered. If you need any further assistance please don't hesitate to contact.

[2017-09-09 09:29] #183 closed

[2017-09-12 06:48] luniki commented on #183
I will try your proposed solution and get back to you if there are more obstacles ;-)

[2017-09-12 22:06] neomerx opened #184 "Responses with 204 HTTP status code (aka "no content") actually have "Content-Type" header set."
This is actually somewhere in between bug and not but closer to annoying 'feature' IMHO

[RFC 7231](https://tools.ietf.org/html/rfc7231#section-3.1.1.5) says

   generate a Content-Type header field in that message unless the
   intended media type of the enclosed representation is unknown to the
   sender.

In other words, it recommends adding the header if `Response` has a body. If you think it'

[2017-09-12 22:30] neomerx commented on #184
I 'fixed' this behavior though it appeared that someone on my machine from stack PHP_dev_server -> Browser sets it to 'text/html'.
I'm committing the changes as it makes it cleaner, improves tests a bit and reduces a few CPU cycles for 204 responses. It's a responsibility of a developer/software stack add/not to add the header for such responses.

[2017-09-13 08:05] luniki commented on #184
I encountered a problem somehow related to this issue:

If a request contains for example a bad filter parameter (or just "GET [...]?filter=") an JsonApiException  is thrown (see [QueryParametersParser#L177](https://github.com/neomerx/json-api/blob/152d43cb91543062977677bf955125a1f4e5dc4b/src/Http/Query/QueryParametersParser.php#L177)  ). That exception contains only the status code 400 without fu

[2017-09-13 10:16] neomerx opened #185 "Parsers for HTTP Query and Headers should provide more error details on invalid inputs"
Currently, for invalid values in HTTP headers and queries, it throws an exception without any details.

It should provide some related info such as description and parameter name.

This issue is created from [this comment](https://github.com/neomerx/json-api/issues/184#issuecomment-329090943).

[2017-09-13 10:17] neomerx commented on #184
@lunika You are right. The parser should provide some details on errors. I created a separate issue https://github.com/neomerx/json-api/issues/185

UPD: fixed in `develop` branch.

[2017-09-13 10:33] neomerx commented on #184
@lindyhopchris I'm about to release this change. I would appreciate your feedback on this to be sure it won't break anything in your project (you might need to check your 204 responses with no content).

[2017-09-13 11:00] lindyhopchris commented on #184
@neomerx will take a look now

[2017-09-13 11:10] lindyhopchris commented on #185
This is a great change, been meaning to ask for it for a while.

Can the `createInvalidQueryErrors()` and `createParamErrors()` methods be `protected` instead of `private`? This would allow the class to be extended and just those methods overriden to allow custom errors to be returned?

[2017-09-13 11:20] lindyhopchris commented on #184
@neomerx this all looks fine - tests are all passing in my library and one of the production apps using it. thanks for giving me the chance to look at it.

[2017-09-13 11:24] neomerx commented on #185
@lindyhopchris done

[2017-09-13 11:25] neomerx commented on #184
@lindyhopchris Thanks. I'm going to release the new version today or tomorrow.

[2017-09-14 12:48] #184 closed

[2017-09-14 12:48] #185 closed

[2017-09-14 12:51] neomerx commented on #185
released in 1.0.5

[2017-09-14 12:52] neomerx commented on #184
released in 1.0.5

[2017-09-17 00:49] pablorsk commented on #182
Hi again @neomerx, your example was great for my start with PSR-7 + Neomerx/JsonApi on Laravel. I publish an [JsonApi server demo](jsonapiplayground.reyesoft.com) (buided for my [online Json-Api front-end demo](http://reyesoft.github.io/ts-angular-jsonapi/#!/authors)) :tada:

As you see, I only publish `GET` requests. `PUT` is not sure if it's ok, because I work directly with `$request->getParsedB

[2017-09-19 09:24] neomerx commented on #182
@pablorsk I probably visited it at not the best time and the app didn't respond to my clicks :smile:
![image](https://user-images.githubusercontent.com/10420662/30585321-1c955966-9d35-11e7-8cbc-c431fc8c30b3.png)

If you start using [Limoncello](https://github.com/limoncello-php/app) (PSR, CORS, OAuth 2 and other goodies) I can advise and will be very happy to do help.

[2017-09-23 18:39] pablorsk commented on #182
Sorry @neomerx, I forget enable CORS on production :P Now its working (just for get resources and collections). Also, you can use the filter like screenshot :point_right: http://reyesoft.github.io/ts-angular-jsonapi/

Thanks for your recomendation with Limoncello, is very good work. It was checked one year ago with my team. But, on own company we are using Laravel/Lumen in old projects. We can't m

[2017-09-27 16:51] neomerx opened #186 "Various micro optimizations"
A generic issue for micro-optimizations which not worth dedicated issue.

[2017-09-27 16:58] #186 closed

[2017-10-08 15:10] neomerx opened #187 "Excessive requirements for input in QueryParametersParserInterface"
`QueryParametersParserInterface::parse` requires `ServerRequestInterface` as an input parameter where only query parameters are really needed.

In order to keep compatibility a new method `parseQueryParameters(array $parameters)` will be added and method `parse` will be declared as deprecated.

Changes required in the code
- replace `$parser->parse($request)` with `$parser->parseQueryParameters($r

[2017-10-08 15:13] #187 closed

[2017-10-11 02:09] ktrhn commented on #92
Same question here. Closing questions without any hint to a solution is not so nice ;-)

[2017-10-11 03:24] neomerx commented on #92
@ktrhn I guess it just works :)

[2017-10-27 07:08] neomerx opened #188 "\Neomerx\JsonApi\Schema\Container::getSchema for `null` input should return `null`"
Minor bug. For such an invalid input it returns '\Neomerx\JsonApi\Schema\Container' string for the reason method `get_class` with `null` returns current class name which is the invalid value.

[2017-10-27 07:15] #188 closed

[2017-12-11 02:09] oliverlundquist opened #189 "Have a version with PHP 7.2 support"
Hi, thanks for a great library.

I stumbled upon this error when upgrading to PHP 7.2 today.

This: https://github.com/neomerx/json-api/blob/2216645b3a5a6851907d85686506342397447f78/src/Schema/Container.php#L163

Gives:
[code]

I guess it would be enough just changing this like to:
[code]

Thanks

[2017-12-11 08:09] neomerx commented on #189
Yep, that's PHP incompatibility. PHP 5.6 accepts only strings, 7.0 and 7.1 both and 7.2 only non-strings. Unfortunately, we can't have both.
It's a broader issue than just removing `'` from asserts. PHP 7+ brings to table stronger type system and what should be done is preparing version 2.0 for PHP 7.2+.

[2017-12-11 08:42] neomerx commented on #189
2 step solution.

Step 1. Make the lib compatible to 7.2 without losing compatibility with earlier versions.
- done with removing the line with assert. To this date, we can be sure it works fine.

Step 2. Make a new version taking advantages of PHP 7.2
- in the process. A branch called `v2` is created.

[2017-12-11 08:44] #189 closed

[2017-12-11 08:48] neomerx opened #190 "Ideas for next version"
**Status**: all changes to the code are finished and merged to `develop` and documents are updated. The code is just sitting and waiting to be released on 27-28 of Jan.

- [x] Change asserts
- [x] Add stronger types to methods (arguments and return values)
- [x] Remove depricated methods
- [x] Update query parser (done in limoncello, so just move is needed)
- [x] Simplify l10n with passing strings

[2017-12-11 09:06] neomerx commented on #189
Step 1 released as [1.0.8](https://github.com/neomerx/json-api/releases/tag/v1.0.8)

For step 2 issue #190 is added

[2017-12-11 09:35] lindyhopchris commented on #190
@neomerx can we submit feature requests for 2.0?

Also it would be good if 2.0 was compatible with PHP 7.1 and above. I.e. drop support for 5.6 and skip 7.0 so that nullable return types can be used.

[2017-12-11 13:06] neomerx commented on #190
Yes, PHP 7.1/7.2 will be minimum.

[2017-12-12 07:54] lindyhopchris commented on #190
Great. Where's the best place to discuss feature requests for 2.0? Would you like an issue per request?

[2017-12-12 09:23] neomerx commented on #190
Let's try `Projects` [feature](https://github.com/neomerx/json-api/projects/1), shall we?

[2018-01-08 13:04] basz opened #191 "show hide data in linkage"
Hi, with a schema and DTO like so, I only get the relationship data, not the attributes set in it's linkage. My DTO's do contain all the data I need. Reading through your [docs](https://github.com/neomerx/json-api/wiki/Schemas#showhide-data) showData is on by default if the data is returned.

Where would I go wrong?

[code]

[code]

ps. $dto->attributeValues is populated and the relationship has a

[2018-01-08 14:37] basz commented on #191
[solved myself] (edited by admin)

[2018-01-08 14:37] #191 closed

[2018-01-08 19:04] d-lamers opened #192 "What if I want to map an interface to a Schema"
I have been implementing this package and it already feels really robust. But I have one thing that bothered me. If I have a Model class which implements a specific interface which I want a default schema for. I need to give the `Container` every class of which implements that interface and then assign the same `Schema` for all. Wouldn't this be much easier if I could just say to the `Container` i

[2018-01-09 15:34] neomerx commented on #192
Hi,

Sorry, I haven't got the idea. Could you please illustrate it with a
basic code sample?

On 2018-01-08 20:04, Dylan Lamers wrote:

[2018-01-09 15:52] neomerx commented on #192
After re-reading it a few times I think I'm starting to understand it.

You want to the container to work something like
- check if there is any mapping for the given instance's class
- if no match found it should check if instance implements specific
interface(s) and if it does the container has special mapping for such
cases. Looks like models would have a default Scheme if no specific
Scheme is

[2018-01-09 20:03] d-lamers commented on #192
Sorry if I wasn't very clear, but that is indeed exactly what I meant. I think it could be really useful like that. Take an Eloquent model for example if you're a Laravel developer. One schema could easily parse any kind of Eloquent model.

[2018-01-10 07:10] bravo-kernel commented on #192
@d-lamers, you might want to take a look at this CakePHP generic schema for inspiration, it does exactly what you describe.

https://github.com/FriendsOfCake/crud-json-api/blob/master/src/Schema/JsonApi/DynamicEntitySchema.php

[2018-01-10 08:15] d-lamers commented on #192
Good suggestion and that’s a fine solution. Kinda what I’m doing right now. I dont know cakephp but I suppose you extend the Entity class for each model? So like my case you’d  still have to let the Container know for each type of `\Cake\ORM\Entity` it should use that schema.

[2018-01-10 08:22] bravo-kernel commented on #192
It first checks if a specific schema is available for the entity. If it
does not exist, it uses this dynamic entity schema.

There is no need for extending the/any Model, everything is
auto-detected.

------ Original Message ------
From: "Dylan Lamers" <notifications@github.com>
To: "neomerx/json-api" <json-api@noreply.github.com>
Cc: "bravo-kernel" <rob@vanerkel.net>; "Comment"
<comment@noreply.g

[2018-01-10 16:12] Ilyes512 opened #193 "InvalidArgumentException thrown when parsing an specific Accept header"
The AcceptHeader cannot successfully parse the below `Accept` header and throws an InvalidArgumentException with the message `mediaType`:

[code]

I think its because of the second part: `text/html;q=0.8;*/*;q=0.1`. It tries to find the equal sign (`=`) in `*/*`:
https://github.com/neomerx/json-api/blob/master/src/Http/Headers/AcceptMediaType.php#L134-L136

I believe the above accept header conten

[2018-01-13 11:34] d-lamers commented on #192
Sorry I think I'm not getting it.

I don't know CakePHP but say you have an `Enitity` abstraction or interface. Which you extend or implement in your models say `UserModel`.
How does CakePHP tell the container to parse any `Model` say `UserModel` to use this dynamic entity schema. How is the `DynamicEntitySchema` assigned to the `Container` for all these models. Because that does not seem to be po

[2018-01-15 09:28] neomerx commented on #191
@basz sorry I edited your comment.

[2018-01-15 09:35] neomerx commented on #192
@d-lamers You can replace any part of the library with your custom implementation. Having custom container will be a straightforward path to meet your demands. Here is [an example of how to replace Container](https://github.com/neomerx/json-api/tree/master/tests/Extensions/Issue154). With a custom container, any logic could be implemented.

Note: The example above shows how to replace the containe

[2018-01-15 09:40] neomerx commented on #192
This [wiki](https://github.com/neomerx/json-api/wiki/Extending-Encoder#package-extension) will also be useful for understanding. Anyways, feel free to ask any further questions.

[2018-01-15 09:59] neomerx commented on #193
Sorry for the delay in reply. I'm the first day back from vacation.

In order to decide how the parser should behave it is required to understand whether such value is a valid `Accept` header. The [RFC](https://tools.ietf.org/html/rfc2616#section-14.1) says that `*/*;q=0.1` falls into `accept-extension` part which has the following syntax

As far as I understand it `=` is mandatory so the input va

[2018-01-15 13:57] neomerx commented on #193
I think you mistyped `;` instead of `,` and really meant `application/vnd.api+json;q=0.5,text/html;q=0.8,*/*;q=0.1`

The string above will work fine and return 3 media types parsed.

[2018-01-15 13:59] d-lamers commented on #192
Was keeping this as an option, but will indeed start working on a custom implementation then.

[2018-01-15 13:59] #192 closed

[2018-01-15 14:10] neomerx commented on #192
To sum up the idea of customization shortly. Instead of having many points/ways of replacing default parts there is one replaceable object that creates all objects in the library - `Factory`. So in addition to custom parts (e.g. Container) you need `Factory` that creates your custom objects. Thus the factory typically consists of one or more 1 line methods.

Next step to actually inject that facto

[2018-01-15 14:29] neomerx commented on #192
I believe it could be a starting point for your custom container

[code]

[2018-01-15 21:51] Ilyes512 commented on #193
Ah, yes I see. You are correct :). I will try it out next day and also try some other combinations. I will close this issue when I have done so (or close it it now if you like). Thanks for looking at this!

[2018-01-17 16:20] lindyhopchris opened #195 "Schema provides all attributes, even if not all are being encoded."
Maybe something for v2 as this is breaking. It stems from this issue:
https://github.com/cloudcreativity/laravel-json-api/issues/136

At the moment the SchemaProviderInterface::getAttributes() will return all resource attributes, even if not all of them are being encoded (i.e. if the `fields` parameter has specified that only some should be included).

If you have an attribute that is costly to ca

[2018-01-17 21:35] neomerx commented on #195
Please have a look.

[2018-01-17 21:36] neomerx commented on #193
Feel free to report any found issues, I'm ok to reopen.

[2018-01-17 21:36] #193 closed

[2018-01-17 21:47] neomerx commented on #195
`getRelationships` now also receive information about fields filtering though I'm not entirely sure that it's actually used atm. Thus it needs some additional testing for combinations of include paths and relationship fieldsets.

[2018-01-18 17:30] lindyhopchris commented on #195
Yeah looks ok. I'm guessing the encoder will still filter the attributes by the fields, so that in the schema you're under no obligation to exclude attributes yourself. You can just choose to not do it if you want.

Also, it's really useful in the relationships method that you can just do `isset($includeRelationships['foo'])`. Will this be the same with the fields array or will you need to do `in_

[2018-01-18 22:18] neomerx commented on #195
Both `includes` and `fieldsets` come from user input. Includes instruct the parser to actually go for specific paths and fieldsets to filter what comes out of this.

Also, I can answer my own question: 'Thus it needs some additional testing for combinations of include paths and relationship fieldsets.' If a path is not included it won't show anyways for further filtering.

An answer to your questi

[2018-01-19 15:23] neomerx commented on #195
Removed `$fieldKeysFilter` for relationships. Now it looks finished.

[2018-01-19 15:42] neomerx commented on #190
@lindyhopchris I've also been working on some code for #183 (you upvoted it) and come to a conclusion it's not worth it. It adds much complexity in comparison to a simple solution with a static method in a Schema.

Alternative would be having something like below in the Schema

[code]

A solution where you can refer an another Schema in a Schema looks attractive
[code]

However, it drastically cha

[2018-01-19 16:09] lindyhopchris commented on #190
I think you only need to return an object that the encoder can then convert to the related link.

E.g.

[code]

Not saying it should necessarily be called `ResourceLink`, just using that to demonstrate the point.

[2018-01-23 17:44] neomerx commented on #190
OK. All interaction with links boils down to this

[code]
where `$link` is `LinkInterface` so any implementation will work.

@lindyhopchris
I also renamed `SchemaProvider` to `Schema` and thinking about what would be right name `Schema` or `Scheme`, how do you think?

[2018-01-24 09:22] lindyhopchris commented on #190
`Schema` is the better name of those two, in my opinion.

[2018-01-24 11:27] neomerx commented on #190
Ok, thanks. Will stick to this name.

[2018-01-26 11:17] neomerx commented on #190
Released `v2.0.0-beta`. Updated wiki in `v2` branch [its repository](https://github.com/neomerx/json-api.wiki.git) (**accessable ONLY via git**).

To my mind, it's in a good condition and might be released without any changes.

[2018-01-26 12:41] neomerx opened #196 "[Beta v2.0] Query parser thinks string '0' is empty string"
Inherited from PHP [empty()](http://php.net/manual/en/function.empty.php#refsect1-function.empty-returnvalues)

[2018-01-26 19:02] neomerx commented on #190
@lindyhopchris I'm going to release it this weekend. Let me know if you need more time. If you are OK I would appreciate if you could agree to release earlier. I think it's ready for v2.0.0

[2018-01-27 11:17] lindyhopchris commented on #190
@neomerx sorry, just seen this. Happy for v2 if you think it's ready to go. Unfortunately I won't be able to use it for a while because we still need to support websites on PHP 5.6. Hoping to get all of them updated by EOL later this year.

[2018-01-27 17:50] neomerx commented on #190
@lindyhopchris Thanks. So we likely to have some ideas for v3 by that time :wink:

[2018-01-28 09:43] lindyhopchris commented on #190
Hahaha! Maybe ;-)

[2018-01-28 14:18] #190 closed

[2018-01-28 14:18] #196 closed

[2018-01-28 14:22] neomerx opened #197 "Where is support for older PHP versions?"
Support for PHP 5.5-7.0 and HHVM is in version 1.x (branch `v1.x`)

If you're upgrading from 1.x have a look at [upgrade notes](https://github.com/neomerx/json-api/wiki/Upgrade-Notes#to-20-from-1x).

[2018-02-08 10:12] neomerx commented on #82
The issue was open for more than 2 years and still future of the spec is not clear. I'm closing the issue until more spec details are available.

[2018-02-18 12:20] juliangut opened #198 "BaseQueryParser generators problems"
About the extensive use of generators in BaseQueryParser

[code]
Produces "TypeError: Argument 1 passed to Neomerx\\JsonApi\\Encoder\\Parameters\\EncodingParameters::__construct() must be of the type array or null, object given" because indeed they are \Generator instances and not an arrays

This can be solved by transforming \Generator to an array

[code]

But this solution produces further probl

[2018-02-19 18:05] neomerx commented on #198
Using this helper is absolutely not mandatory. The main functionality of encoding do not depend on this class.

Thank you for looking the code closer and trying it in various use cases. You obviously have some sample code you're working with. Could you please share it so it would be easier to improve flexibility of `BaseQueryParser`?

[2018-02-20 15:17] fermosanto opened #199 "Parser potential problem"
Regarding: [https://github.com/neomerx/json-api/blob/master/src/Encoder/Parser/Parser.php](url)

One model suddenly stopped working with using SELF::DATA output from the schema class.
The relevant error in laravel log was: **[2018-02-20 08:48:18] local.ERROR: data {"exception":"[object] (InvalidArgumentException(code: 0): data at D:\\Frameworks\\XAMPP\\htdocs\\projectx\\vendor\**

The relevant cod

[2018-02-20 23:53] neomerx commented on #199
Probably the source of that invalid number is your schema. However, we have to find the source and make it easier to diagnose such errors in the future.

Can you please update `\Neomerx\JsonApi\Schema\RelationshipObject` with the code below and see what is the source of that integer?

I would also appreciate if you fork the project and add some testing sample that shows the error.

[code]

[2018-02-21 00:27] fermosanto commented on #199
Thanks for your reply. After replacement the error is

eomerx\\json-api\\src\\Schema\\RelationshipObject.php:167)
[stacktrace]
#0 [internal function]: Illuminate\\Foundation\\Bootstrap\\HandleExceptions->handleError(2, 'assert(): asser...', 'D:\\\\Frameworks\\\\X...', 167, Array)
#1 D:\\Frameworks\\XAMPP\\htdocs\\projectx\\vendor\
eomerx\\json-api\\src\\Schema\\RelationshipObject.php(167): assert(

[2018-02-21 01:05] juliangut commented on #198
Hi

I know BaseQueryParser usage is not mandatory but I'd expect it to work at least

About the code I've just pushed the initial release of the library I'm working on so you can have a look (still missing several functionalities I'd like to add) https://github.com/juliangut/json-api

[2018-02-21 10:14] neomerx commented on #199
Most likely your Schema occasionally returns invalid value in `self::DATA` section.

As you has cut the error stack I can't tell you which one, however, it's likely to be related to `RigModel`.

[2018-02-21 11:43] fermosanto commented on #199
The problem seems resolved when i changed the public functions () in the models to non-conflicting names that match the defined Resources. Strange.....

[2018-02-21 12:20] neomerx commented on #199
I will add the code changes above so it would diagnose such problems. It will help developers to fix issues with their schemas on early stages.

[2018-02-21 13:52] #199 closed

[2018-03-07 16:50] zion03 opened #201 "How to pass additional params to Schema"
I run into same problem as described #94.
I'm trying to inject dependency into `Schema` but it's impossible  because `Schema` already have inner dependecies.
Using global service container looks like a bad practice.
Like option we can extend `EncodingParameters` with  `customParam` to
`[array $includePaths = null, array $fieldSets = null, $customParam = null]` and pass param to `getAttributes` and

[2018-03-07 17:57] designermonkey opened #202 "Not using Traversable"
Parser line 245

[code]

This is very limiting to look for `Iterator` instead of `Traversable`. We have encountered errors and spent ages trying to debug this when using `Ds\Set` as an iterable container to our classes.

`php-ds` comes in two flavours; a composer library and a C library extension. The composer library `Set` class implements `IteratorAggregate` but not the C library, as it can just

[2018-03-07 19:17] neomerx commented on #202
The library needs to know if `$data` have anything inside without iterating the data.

Based on [Traversable interface description](http://php.net/manual/en/class.traversable.php) it seems more like a bug in C implementation for php-ds.

However, I've got an idea how to answer this question indirectly which I'm trying at the moment.

[2018-03-07 19:31] neomerx commented on #202
Please check it out from branch `issue202` and let me know if it works for you.

[2018-03-07 20:16] neomerx commented on #201
Thank you for your support. I'm still learning PHP and the more I learn, the more I realize how much I don't know.

You're probably referencing [BaseSchema constructor](https://github.com/neomerx/json-api/blob/9ec0d7b56decfb750d1ad67823f9e9465547df3b/src/Schema/BaseSchema.php#L77) which requires `FactoryInterface` as an input parameter.
Shortly you have 2 options to deal with it

1) Create a base

[2018-03-07 21:09] neomerx commented on #201
A sample of passing custom parameters to Schema could be found in [wiki](https://github.com/neomerx/json-api/wiki#encoder-instance)

[2018-03-07 22:26] zion03 commented on #201
Thanks for quick answer. Currently I decided leave my `global $kernel` like faster way.
Solution rewrite `BaseSchema` as I understand will not work, because in the end you pass SchemaFactoryInterface anyway.

And I still don't understand how to pass custom values to Schema class.

For example I have a `title` which contain` json` with translations like:
`{'en': 'en title', 'es': 'es title'}`

In S

[2018-03-08 00:26] neomerx commented on #201
Please have a look at the wiki link I posted above.

Something like

[code]

[2018-03-08 09:45] designermonkey commented on #202
Thanks for looking at this.

I can see the confusion re the 'cannot implement alone'; this is aimed at PHP developers explaining that you cannot use this interface in your PHP classes, but from a C level this would be perfectly acceptable for the language developers.

I really appreciate the quick response on this, and we are testing this out now. :)

PS, I am raising this with the `php-ds` devs a

[2018-03-08 10:40] designermonkey commented on #202
So this is tested and solves the problem. It turns out we were still on a v1.x release so have to do some upgrades anyway :)

Can I ask how close this dev branch is to release stage? Could this code be pulled out into a hotfix release off the current stable tag, as there is also a lot of other changes in there.

I have to have our codebase running on stable releases of third party code sadly.

[2018-03-08 11:18] #202 closed

[2018-03-08 11:20] neomerx commented on #201
I have a feeling I've answered the question. If you have any further questions please don't hesitate to ask.

[2018-03-08 11:20] #201 closed

[2018-03-08 11:26] neomerx commented on #202
Released as [2.0.2](https://github.com/neomerx/json-api/releases/tag/v2.0.2)

Typically code fixes and improvements go to main code base very quickly. The project has vast testing code base (100% code coverage) so I have a high level of confidence in the project.

Also core code base is stable for a very long time.

[2018-03-08 11:35] neomerx commented on #202
Your support for the project :star2: would be appreciated :wink:

[2018-03-08 11:39] designermonkey commented on #202
You are a star for getting this done for us so quickly! How do I support the project?

Edit: Oh right, of course ;)

[2018-03-08 11:40] neomerx commented on #202
Thanks

[2018-03-14 12:58] neomerx opened #203 "Overriding Schema default include paths with empty list via EncodingParameters do not work"
Suppose your `Schema` has some default non-empty include paths set via [getIncludePaths](https://github.com/neomerx/json-api/blob/9e9ffbc3260cd3ffae1ba4169e04ae2bd7660432/src/Schema/BaseSchema.php#L242-L245). Overriding those paths with **empty** list via `EncodingParameters` do not work. Though it works fine for a non-empty list.

For example, if `AuthorSchema` has non-empty `getIncludePaths` the

[2018-03-14 13:05] #203 closed

[2018-03-14 15:45] neomerx commented on #198
`BaseQueryParser` is designed to be used as a base class for custom query parsers. The reason why it's not possible to include 'full' implementation is that JSON API spec does not define filters and pagination parameters. So it's up to a developer. Though `BaseQueryParser` can provide parsing for fieldsets, includes and sorts. Also, child classes might add additional functionality such as input da

[2018-03-14 15:47] #198 closed

[2018-03-15 13:57] neomerx opened #204 "Refactor BaseQueryParser into PHP trait to improve flexibility"
Currently `BaseQueryParser` occupies such method names as `getFields` ,`getIncludes` and `getSorts`. If they are moved into PHP trait developers would be able to change their names while importing/using. In its turn, it allows reusing `getFields`, `getIncludes` and `getSorts` with a different list of input parameters and return types if needed.

[2018-03-15 14:02] #204 closed

[2018-03-20 12:53] designermonkey opened #205 "Relationships specific interaction"
This is a question more than an issue.

Based on `http://jsonapi.org/format/#crud-updating-relationships` do you have any examples on how I would return the simple data returned by these `/relationships` endpoints?

[2018-03-20 12:55] designermonkey commented on #205
Answering my own question ;)

https://github.com/neomerx/json-api/blob/master/tests/Encoder/EncodeSimpleObjectsTest.php#L269

[2018-03-20 12:55] #205 closed

[2018-03-20 16:41] neomerx commented on #205
Yay, you're of a very few devs who actually look samples in tests :wink: 1337

[2018-03-20 17:32] designermonkey commented on #205
But that's the documentation right?? :D

[2018-03-23 20:07] designermonkey opened #206 "Errors as a Schema"
Wouldn't it be great if you could register an object type and have it's Schema be the Error class? Or better yet, have another BaseSchema type that is ErrorSchema?

I find it weird that most of the codebase is automatic to some degree, yet we have to manually create Error instances. Our code base uses a specific class to pass errors up to the presentation layer, and I am having to manually convert

[2018-03-24 09:00] neomerx commented on #206
How do you see using such feature? Can you please post a hypothetical code sample?

[2018-03-24 10:42] lindyhopchris commented on #206
I find errors being created from within the stack strange too, because it creates the problem of how to issue an `id` for the error? Generally an error down in the stack doesn't know if an id should be allocated to the error, or even if it does, how that id should be generated. Is the ID a database reference, a log reference, etc etc? It makes sense to do this further up the stack because you prob

[2018-03-24 12:10] designermonkey commented on #206
We use the notification pattern to collect together any exceptions from further down the chain so have a consistent class type being given back for presentation, so I was expecting it to just work the same way a normal schema would, but with functions to fill in details fo the error class instead.

[2018-03-24 12:37] neomerx commented on #206
@designermonkey I still would like to have a look at how you see usage should look like leaving implementation details aside.

Meantime, short demo on how to convert exceptions to errors
[code]

[2018-03-24 20:40] designermonkey opened #207 "Nested relationships and links"
I can use the provided function to get document level links for a single level of nested relationship:

[code]

Do you know of a simple way to have links generated for multiple levels of nesting?

[code]
Also, this applies to the relationship links generated by a schema; I can do simple single levels, but don't know how to do the same described multi levels.

Any pointers you may have?

[2018-03-24 21:58] neomerx commented on #207
try adding to `LINKS` subsection of your schema `Schema` a link

[code]

if you add `RELATED` it will override default one.

UPD: added link to a [sample](https://github.com/neomerx/json-api/wiki/Schemas#show-links-in-relationships)

[2018-03-27 17:34] neomerx commented on #207
I've updated the wiki with an answer to this question and have a feeling it's answered. If you have any further questions please don't hesitate to ask.

[2018-03-27 17:34] #207 closed

[2018-03-27 17:45] neomerx commented on #206
Guys, I can add `setXXX` methods to `Error` and the conversion example will boil down to this

[code]

I think `copyExceptionToJsonApiError` (or `copyAppErrorToJsonApiError`, or ``copyValidationErrorsToJsonApiError``) is very application specific and unlikely to have any common part.

If you have any ideas/requirements please share within a reasonable time period. Otherwise, changes will be limite

[2018-03-28 08:20] lindyhopchris commented on #206
Setters on the error object would definitely help.

[2018-03-29 09:39] neomerx commented on #206
The setters added to `develop`. Unless new ideas/requirements appear the changes will be merged to `master` and released on Friday.

[2018-03-30 20:01] #206 closed

[2018-03-30 20:07] neomerx commented on #206
[released](https://github.com/neomerx/json-api/releases/tag/v2.0.4)

[2018-04-05 19:05] freddiegar opened #208 "Access to private method in trait src/Http/Query/BaseQueryParserTrait.php"
splitCommaSeparatedStringAndCheckNoEmpties method is private, then I get this error:

Call to private method Neomerx\JsonApi\Http\Query\BaseQueryParser::splitCommaSeparatedStringAndCheckNoEmpties() from context 'Limoncello\Flute\Http\Query\QueryParser' in /var/www/html/vendor/limoncello-php/flute/src/Http/Query/QueryParser.php:461

**php -v**
PHP 7.1.14 (cli) (built: Feb  7 2018 00:40:45) ( NTS )

[2018-04-05 20:29] freddiegar commented on #208
Additional info: This error was found while I used filter parameters in request using [Flute](https://github.com/limoncello-php/framework/tree/master/components/Flute) , thus:

/posts?filter[status][eq]=3

I am using version:
json-api: 2.0.4
flute: dev-master

Thanks, really is a great package!

[2018-04-05 20:31] neomerx commented on #208
Thanks. Sorry for the bug. I've already fixed it for limoncello 0.9.x. It will take me some time to apply it to 0.8.x and release. You are using 0.8.x, aren't you?

[2018-04-05 21:41] neomerx commented on #208
@freddiegar Should be fixed for both branches. Please have a look and let me know.

[2018-04-06 03:54] freddiegar commented on #208
Perfect, let me check it!

[2018-04-06 14:10] freddiegar commented on #208
Now work it, thanks so much!

[2018-04-06 14:10] #208 closed

[2018-04-13 23:49] thiagoreri opened #209 "Schema is not registered for a resource at path ''"
I'm using this library and the following error is occurring in the title

[2018-04-15 01:33] neomerx commented on #209
You are likely trying to encode a resource without a Schema for it. Which one? See the `path` value as a hint.

[2018-04-15 05:28] bravo-kernel commented on #209
@neomerx I think this can be closed as it was solved here https://github.com/FriendsOfCake/crud-json-api/issues/37#comment-381347327

[2018-04-15 08:55] neomerx commented on #209
@bravo-kernel Thanks. Can the message be improved to make it clearer about the underlying issue cause?

[2018-04-15 09:04] bravo-kernel commented on #209
I was thinking exactly the same as this seems to be the only (and recurring problem) for our users. Unsure how but.. on our list.

[2018-04-15 09:07] neomerx commented on #209
You can use included exception with the cause of the error.

![image](https://user-images.githubusercontent.com/10420662/38776784-7d4dc3ba-40a5-11e8-8252-b57638095265.png)

[2018-04-15 10:08] bravo-kernel commented on #209
🥄 much appreciated, I will see if I can provide a more descriptive message (pointing to CakePHP)

[2018-04-15 10:46] neomerx commented on #209
I've modified the error message.

Now for an unknown resource of type `Neomerx\Tests\JsonApi\Data\Author`, the error message would be

and for a resource in a relationship, the message would be

[2018-04-15 10:49] #209 closed

[2018-04-15 10:50] bravo-kernel commented on #209
👍

I did understand correctly that we can override the message yes? In our case the schema is (almost always) dynamic and retrieved from Table and Entity. I would like to point Cake users directly to those files.

[2018-04-15 10:56] neomerx commented on #209
Yes, the library is highly modular and you can [replace any part of the library with your own implementation](`Neomerx\Tests\JsonApi\Data\Author`).

I think you would need to replace `\Neomerx\JsonApi\Factories\Factory::createParser` with your own messages. The link above has an overview of the process and `tests` have a couple of samples how to do that.

UPD: see `tests/Extensions/Issue49` as a s

[2018-04-15 11:08] neomerx commented on #209
@bravo-kernel You might need some changes from my side e.g. make `\Neomerx\JsonApi\Encoder\Parser\Parser::getSchema` protected instead of private. Feel free to experiment with the code and let me know if any help needed.

[2018-04-15 11:10] neomerx commented on #209
The changes released in 2.0.5

[2018-04-15 11:28] bravo-kernel commented on #209
OK, thanks.

[2018-05-17 14:25] Ilyes512 opened #210 "How to replace the removed CodecMatcher?"
So I see CodecMatcher is deprecated on the releases page, but I don't see any information on why, what, why and how it's being "replaced" if at all?

I am trying to upgrade my app using v1 of this library. Should I implement this my self?

[2018-05-17 14:34] neomerx commented on #210
No you don't. On earlier stages of the spec developers planned to support multiple input formats with various `Content-Type` headers. And codec matcher served that purpose. Then they seemed to drop that idea and stick to JSON API MIME type. For this reason, it was dropped from the library.

[2018-05-17 14:36] Ilyes512 commented on #210
Okey. Does the library contain a way to detect if the current request is one using the jsonapi spec?

[2018-05-17 14:45] neomerx commented on #210
According to [this](http://jsonapi.org/format/#content-negotiation-clients) such a check would be something like

[code]

So really not much to add as a library feature :smile:

Probably the only place where I can put anything from the lib is replacing `application/vnd.api+json` with `MediaTypeInterface::JSON_API_MEDIA_TYPE`

[2018-05-17 14:49] neomerx commented on #210
I found how they called it [Extensions](http://jsonapi.org/extensions/)

[2018-05-17 14:57] Ilyes512 commented on #210
Ok, and what about the removed psr7 adapter. I am using Laravel which uses symfony request object. There is a way of converting it using https://github.com/neomerx/json-api/blob/v1.0.9/src/Http/Request.php

Just wondering if this would still be enough or are you now (or possible in the future) going to use more psr7 methods (it used to be only 3 methods): https://symfony.com/doc/current/components

[2018-05-17 15:09] neomerx commented on #210
As you probably know [Laravel has PSR7 support](https://laravel.com/docs/5.6/requests#psr7-requests) though it's likely to be slower than the wrapper from Limoncello.

It was needed only 3 methods. I think the old wrapper should work fine and very likely to be OK in the future. In the worst case you would need one more which is a couple of lines of code.

Sorry for dropping it. I thought nobody ne

[2018-05-17 15:21] neomerx commented on #210
I've rechecked the code and it appeared it doesn't require PSR7 at all :) So no need to maintain the wrapper and you can use Laravel requests. Sorry for the confusion.

[2018-05-17 15:24] Ilyes512 commented on #210
Ah Nice. The packages used by Laravel to provide psr7 are the same packages mentioned in the link. Did not know they added psr7 support this way in laravel :)

Will continue working on implementing v2 of this lib in a few min. I should be able to get it going with the above info :) Thanks!

[2018-05-17 15:43] neomerx commented on #210
Btw, I've done [some benchmarks](https://github.com/limoncello-php/framework/tree/master/docs/bench) recently for Lumen, Slim, and Limoncello. Though I've got no JSON API result to compare. Can please share some your performance results (e.g. swoole) that could be compared with any of them?

[2018-05-18 09:51] mikelovely opened #211 "How to handle sub-resources without an ORM object?"
I have a `settings` column in my users `table` which is just a string representing a json object. eg
[code]
I want an endpoint like `/users/{user_id}/settings` which will return an array of all the settings for that user.

How should this look so it's valid json api? I thought maybe something like this:

[code]

That doesn't feel quite right to me because, this way, attributes will only have one k

[2018-05-18 10:18] neomerx commented on #211
You've got a few questions )

Then you are working with it like they are resources (have `type`, OK let it be `settings` and `id`, well, it seems they don't have ID). If you think 'Hold on a sec, I can assign 1,2,3 as array indexes, can't I?' Such identities will not be unique between users.

from [here](http://jsonapi.org/format/#document-resource-object-identification)

[2018-05-18 11:41] Ilyes512 commented on #210
At the moment I only have one problem and thats with `EncodingParameters` class. I miss the fallowing methods (that used to be in it):

- `getPaginationParameters`
- `getFilteringParameters`
- `getSortParameters`
- `getUnrecognizedParameters`

It was nice to have one class to ask for all parameters. Now I need to implement my own.

[2018-05-18 12:16] neomerx commented on #210
Pagination, filters, and sorts are needed for fetching data from a database and not needed for the conversion. For this reason, they were removed.

If you use it for parsing input parameters and non-conversion tasks you can either have a look at how it is used in [Limoncello Parser](https://github.com/limoncello-php/framework/blob/master/components/Flute/src/Validation/JsonApi/QueryParser.php) or

[2018-05-18 21:50] #211 closed

[2018-05-22 15:01] neomerx commented on #210
@Ilyes512 If you have any further questions don't hesitate to ask.

[2018-06-17 11:46] Dylan-DutchAndBold opened #212 "Deep relations"
Is there a way to define deeply nested relations? In my case I'm building a file explorer and I have a deep nest of directories with files. So every resource of `directory` has the relation of `directory` and `file` I want these to be fully returned in one request.

[2018-06-18 09:05] neomerx commented on #212
Sure. You can pass a list of include paths in `EncodingParameters` on encoding (sample [here](https://github.com/neomerx/json-api/wiki#encoding)).

If encoding of deeply nested objects is a typical task in your application and you feel that include paths preparation is an unnecessary burden, you may consider [replacing](https://github.com/neomerx/json-api/wiki/Extending-Encoder#package-extension)

[2018-06-19 23:47] neomerx commented on #212
I have a feeling I've answered the question. If you have any further questions please don't hesitate to ask.

[2018-06-19 23:47] #212 closed

[2018-06-20 06:41] Dylan-DutchAndBold commented on #212
Awesome answer thanks

[2018-08-14 10:21] edeis53 opened #213 "Example for filtering"
Could I Kindly ask for an example of how to implement filtering based on property value?

`api.com/foods?filter[category]=vegetable`

Given the following models:
[code]

and have the output only return the carrot model.

`EncodingParameters` seems to be the place to start. I've got my includes function working just fine there, but documentation is sparse and am not sure how to do the filtering.

[2018-08-14 13:04] neomerx commented on #213
As I can see you're only starting with JSON API so before answering the question I'll make a few changes in the question itself.

**Data Format**

The models in JSON API format might look like

[code]

The difference is that IDs are added and relationships between other entities such as `Categories` made more clear.

**Query Format**

Filtering syntax such as `filter[category]=vegetable` is [outsi

[2018-08-14 13:21] neomerx commented on #213
If you run Limoncello demo app you can see how filtering works. Here a couple of screenshots. The first one shows an unfiltered list of users and the second one shows with a filter applied (see URL)

![image](https://user-images.githubusercontent.com/10420662/44094163-1b21add0-9fde-11e8-8903-29c546c996e6.png)

[2018-08-15 10:04] neomerx commented on #213
I have a feeling I've answered your question. If you have any further questions please don't hesitate to ask.

[2018-08-15 10:04] #213 closed

[2018-08-15 20:56] danDanV1 commented on #213
Thanks very much for your detailed and thorough response. This will help get me going in the right direction.

[2018-08-29 10:26] trbsi opened #216 "test.md"
Nothing

[2018-08-29 10:27] #216 closed

[2018-10-09 10:45] ghost commented on #206
Sorry to have left this so long to come back to.

What I am hoping to achieve is something like the following:

[code]

MyError is not a neomerx class, and a schema shows how to convert it to a neomerx error object. I don't want to have to anything inside my implementation as I think as the encoder can handle everything else for all other schemas, why doesn't it for errors?

If a set of data is pr

[2018-10-09 13:47] neomerx commented on #206
JSON API [Data](http://jsonapi.org/format/#document-top-level) and [Errors](http://jsonapi.org/format/#errors) do not have much in common.
- `data` has `type` and `id` unlike `error` has only `id`
- `data` has things like `relationships`, `included`, `links`, a few `metas` and others that `errors` don't
- for `data` oprations like `create`, `update` and `delete` make sense but for errors don't

IM

[2018-10-09 18:00] ghost commented on #206
I can see your point. What I want to avoid is having to have knowledge of objects in the neomerx implementation other than the encoder instance I pass into my application. Currently, I can pass anything in as data to `encodeData` as long as I have defined a schema for it, yet I have to have made `ErrorInterface` instances which may also need to know about `LinkInterface` instances too, which I the

[2018-10-09 18:18] neomerx commented on #206
The best way is to have a class (+optional interface) that does exactly it

[code]

**Update**

I've given an example above how to convert Exceptions to Errors. So you don't need to pass anything from `Neomerx/*` namespace(s) to the method.

Copied from above
[code]

Using this approach you can completely decouple your code from mine.

[2018-10-17 13:56] bartje321 opened #217 "Empty relationship data is represented as empty array instead as empty object"
Code in schema:
[code]
Expected:
[code]
Actual:
[code]
Possible sollution:
[src/Document/Presenters/ElementPresenter.php](https://github.com/neomerx/json-api/blob/master/src/Document/Presenters/ElementPresenter.php#L111)
Change
[code]
To
[code]

[2018-10-17 14:24] lindyhopchris commented on #217
That is not compliant with the spec, which says:

https://jsonapi.org/format/#document-resource-object-relationships

So neither an empty array or empty object is allowed.

[2018-10-22 10:31] neomerx commented on #217
I think an extra check with `assert` should be added to validate data from `getRelationships`.

[2018-10-23 10:43] neomerx commented on #217
An extra assert is added. You will see an error message similar to this

Where `people` would be your resource type.

[2018-10-23 10:44] #217 closed

[2018-10-23 10:50] neomerx commented on #217
Released as 2.0.7

[2018-11-12 09:31] jpoelmans opened #218 "Related resources of a relationship endpoint"
The Jsonapi specification states:

[code]

But I can't get this working. Are includes on Resource Identifiers possible?

[2018-11-12 21:11] neomerx commented on #218
It seems to be a case nobody tried before :fireworks:

Currently, if you encode with identifiers you will get only identifiers and includes will be ignored. Here is a sample how it works (note despite `EncodingParameters` has include for `author` it is ignored)

[code]

It looks like if include paths are given then encoder should put full resources into included.

[2018-11-12 21:41] neomerx commented on #218
Currently, the closest you can get is replacing `encodeIdentifiers` with `encodeData`. In this case you will get full `comments` resources in `data` section with `authors` included.

[2018-11-13 07:58] jpoelmans commented on #218
Thanks for the response.

Using `encodeData` is a solution for now, but it is not in compliance with the specification! Can this be a feature request for a next version?

[2018-11-13 08:06] lindyhopchris commented on #218
Btw there's a PHPUnit assertion `assertJsonStringEqualsJsonString` that can be used instead of doing that `json_encode(json_decode(` trick.

[2018-11-13 16:56] neomerx commented on #218
@jpoelmans Before this point, it wasn't the case when we have the same resource in main data (type+id) and included (full resource). So it's likely to be more than just a small change. I'll keep this issue open as a task for the next major release.

[2018-12-09 17:54] neomerx commented on #82
A beta version of the spec is finally available. It's planned to be published on January 31, 2019.

[2019-01-07 18:31] neomerx commented on #218
I've got some update on this. I'm currently working on version 3 of the library. Currently, it's it is a promising prototype which can run the sample app (including performance test) and 75% of **basic** encoding tests (from `EncodeSimpleObjectsTest.php`). So far performance is about +30% and it can encode correclty the test above

[code]
BTW, @lindyhopchris thanks for `assertJsonStringEqualsJsonS

[2019-01-13 14:46] neomerx commented on #218
The issue is resolved in the next version of the library which is currently published in branch `next`. Later it will be moved to `develop` and then merged to `master`.

[2019-01-13 14:52] neomerx commented on #82
Currently, all encoding tests were updated to run on v3. Test coverage is about 85% solely from those encoding tests. Overall it's already in pretty good shape.

Tasks are
- [x] Migrate tests for library extensions (#49 is specific to implementation and not relevant anymore);
- [x] Complete 1.1 features (profiles in top-level links, type links in errors, `profiles` in query parser.);
- [x] Add tes

[2019-01-18 08:40] mledoze commented on #135
Hello, I got the same problem the other day and I fixed it with the following configuration

[code]
I hope it helps somebody else!

[2019-01-18 09:21] neomerx commented on #135
@mledoze thanks for the tip :+1:

[2019-01-25 17:01] lindyhopchris opened #221 "Media type matching with dynamic properties"
Using the media type classes for content negotiation. Given this scenario:

[code]

It's not possible to match the content type using `MediaType::equalsTo()` or `MediaType::matches()` because both use `MediaType::isMediaParametersEqual()`... for which there's no way to specify that you don't care what the `boundary` parameter value is... i.e. you cannot specify wildcard parameter values.

I'm not

[2019-01-25 18:40] neomerx commented on #221
OK, I'll try to find something about how to deal with it either in JSON API spec or a web spec.

Btw, I've just pre-released v3 of the library. Support JSON API 1.1, better-designed and performance testing shows improvement 2,3 - 5,4 X. Placed in `develop`.

[2019-01-25 18:45] neomerx commented on #218
merged to `develop`

[2019-01-25 19:06] lindyhopchris commented on #221
@neomerx nice! I'm still stuck a little bit behind but hoping to catch up to your latest version sometime soon.

[2019-01-26 09:39] PabloKowalczyk opened #222 "Is v3 produciton ready?"
Hello, yesterday you published version `3.0.0` (BTW performance increase looks very good), but this release is marked as "Pre-release" on GitHub, but for composer (packagist) it is stable release. Also version number `v3.0.0` looks like stable.
It this version ready for production use or not?

[2019-01-26 10:12] neomerx commented on #222
**Long Answer**
V3 Passes all JSON API encoding tests that pass V2 and has 100% test coverage. So it looks at least as good as V2. [Scrutinizer also likes the new code.](https://scrutinizer-ci.com/g/neomerx/json-api/?branch=develop) So why it's **pre-released**? There are two reasons
- Feedback from developers needed. I'm going to switch (and check) a few projects to V3.
- JSON API 1.1 officially

[2019-01-26 10:55] PabloKowalczyk commented on #222
Now i get it. IMHO You should release `v3.0.0-rc.1` first, collect feedback and/or fix bugs and then release stable `v3.0.0`.

I will.

Thanks.

[2019-01-26 12:44] neomerx commented on #222
renamed to `v3.0.0-rc.1`

[2019-01-26 13:18] PabloKowalczyk commented on #222
Now everything is clear for me.

[2019-01-30 16:57] neomerx commented on #221
Added support for `*` in parameters to `matchesTo` method in v3. It's now possible

[code]

Full test code [here](https://github.com/neomerx/json-api/blob/e17d3ba6b8c1f7f9f388407e8f2429f7c198959b/tests/Http/Headers/MediaTypeTest.php#L144-L174).

[2019-01-30 17:07] lindyhopchris commented on #221
Great! Now I just need to upgrade to v3! Thanks for adding it in.

[2019-01-30 17:09] neomerx commented on #221
released as [v3.0.0-rc.2](https://github.com/neomerx/json-api/releases/tag/v3.0.0-rc.2)

@lindyhopchris Don't hesitate to ask migration questions :wink:

[2019-01-30 17:13] lindyhopchris commented on #221
will do!

[2019-01-30 17:44] Ilyes512 opened #223 "Allow getting encoded data as array (instead of json string)"
I was using version 2 and I am now in the process of upgrading to version 3. What I would like to do is get the (build) data as array instead of (encoded) json string.

[code]

So I would like to call `$this->encodeDataToArray($data)` directly (it's visibility is now set to protected).

Further I see that you call `$this->resetPropertiesToDefaults();` which seems a bit strange cause it also resets

[2019-01-30 18:34] neomerx commented on #223
The requirement to encode to an array is not new. It comes from #169. So encoding methods are intentionally made short and containing major steps which could be reused and combined depending on the usage requirements.

The [testing code for this extension was migrated to v3](https://github.com/neomerx/json-api/tree/develop/tests/Extensions/Issue169).

I'll think again if reset feature could be don

[2019-01-30 19:41] Ilyes512 commented on #223
Cool...

Also did not thought about creating a custom extended factory class :)

[2019-01-30 19:46] neomerx commented on #223
Everything (or almost everything) is created via the factory, so you can inject your custom encoders, schemas/schema containers (for example, to store schemas in the database or cache), and etc.

I'll keep it open for a while.

[2019-02-01 13:40] neomerx commented on #223
I've added a method `reset` to the encoder interface and got rid of `resetPropertiesToDefaults`. Thus encoder settings such as prefix, links, meta and etc could be reused between calls.

[2019-02-01 16:31] Ilyes512 opened #224 "Should the content-type header be allowed to end with a semi-colon (;)"
Assuming that `$headerParametersParser` is an instance of `\Neomerx\JsonApi\Http\Headers\HeaderParametersParser` I get an error when parsing a conten-type header that ends with a `;` (semi-colon). I do no not get that when parsing an accept header that end's with a `;`. In both cases the header's don't actually have any media type parameters.

[code]

So not sure what the spec says exactly about [

[2019-02-01 16:53] Ilyes512 commented on #223
Nice, I will implement it as soon as there is a new tag that includes the changes :)

[2019-02-01 20:17] neomerx commented on #224
The difference in behavior was just implementation specifics. I've added a test for the new value and fixed the code.

[2019-02-01 20:20] neomerx commented on #224
released as `v3.0.0-rc.3`

[2019-02-01 20:27] neomerx commented on #223
released as `v3.0.0-rc.3`

[2019-02-05 08:31] neomerx commented on #224
released as [v3.0.0](https://github.com/neomerx/json-api/releases/tag/v3.0.0)

[2019-02-05 08:31] #224 closed

[2019-02-05 08:31] neomerx commented on #223
released as [v3.0.0](https://github.com/neomerx/json-api/releases/tag/v3.0.0)

[2019-02-05 08:31] #223 closed

[2019-02-05 08:32] neomerx commented on #222
released [v3.0.0](https://github.com/neomerx/json-api/releases/tag/v3.0.0)

[2019-02-05 08:32] #222 closed

[2019-02-05 08:32] neomerx commented on #218
released as [v3.0.0](https://github.com/neomerx/json-api/releases/tag/v3.0.0)

[2019-02-05 08:32] #218 closed

[2019-02-05 08:32] neomerx commented on #221
released as [v3.0.0](https://github.com/neomerx/json-api/releases/tag/v3.0.0)

[2019-02-05 08:32] #221 closed

[2019-02-05 08:38] PabloKowalczyk commented on #222
Nice one :tada: Thanks!

[2019-02-05 10:54] Ilyes512 commented on #223
I am trying out the changes now...

When overwriting the reset() method I can't change the class properties (links, profile, hasMeta, etc) directly because they are private. I could use the set methods if changing the properties visibility to protected is a problem?:

[code]

[2019-02-05 10:57] Ilyes512 commented on #223
Resetting links is currently not possible:

[code]

With `withLinks` only accepting an iterable I can only pass it an empty [], but then `hasLinks` would return true instead of false.

[2019-02-05 11:01] Ilyes512 commented on #223
In my case I solved it with:

[code]

But it would still be nice to be able to not reset `$this->jsonApiVersion = null;`, `$this->jsonApiMeta    = null;` and `$this->hasJsonApiMeta = false;`.

[2019-02-05 14:13] neomerx commented on #223
It's probably lost somewhere in the discussion, but `reset` is not called currently in `encodeXXX` methods. So you probably do not need to do things you do with `reset()`.

[2019-02-05 14:25] Ilyes512 commented on #223
Yes, I know. But I do want to use reset, but slightly adjusted.

[2019-02-05 14:49] neomerx commented on #223
What kind of changes and functionality do you need for reset?

[2019-02-05 16:23] Ilyes512 commented on #223
The reset() method also resets the (private) class parameters, see https://github.com/neomerx/json-api/blob/master/src/Encoder/EncoderPropertiesTrait.php#L120-L126.

I would have been easy to do the same. One can still fix it, but with a little more code. So you can ignore my comments above.

[2019-02-05 17:11] neomerx commented on #223
OK, let me know if you want me to add any changes.

[2019-02-05 20:54] neomerx opened #225 "Migrate to PHPUnit 8"

[2019-02-05 21:16] neomerx commented on #225
Tests made fully compatible with PHPUnit 8, however, the project still uses PHPUnit v7.x because v8 requires PHP 7.2 as a minimum while the library works on PHP 7.1+.

[2019-02-05 21:17] #225 closed

[2019-02-09 20:52] neomerx opened #228 "Use native function invokation"
Call global function such as `array_merge` as `\array_merge` which improves performance a bit.

#226

[2019-02-14 09:52] #228 closed

[2019-02-25 07:58] reefebba opened #229 "Documentation"
It would be very nice of this package if it has more beginner-friendly and all-covered documentation with examples.
However, Thank you, this package is very helpful

[2019-02-25 09:05] neomerx commented on #229
@reefebba Hi, there is a [wiki](https://github.com/neomerx/json-api/wiki) which is intended to provide such information and [sample aplication](https://github.com/neomerx/json-api/tree/master/sample) that demonstrate how to work with the library. Also, there is a ton of [tests](https://github.com/neomerx/json-api/tree/master/tests/Encoder) that demonstrate every single aspect of the lib usage (min

[2019-02-26 13:18] JustSteveKing commented on #229
The examples and documentation provided show a very nice and easy way to use this package, but more indepth API docs could be useful to know what the constrains of the package are. I can kind of dig around and figure it out - but not all developers are going to be comfortable doing this

[2019-03-02 15:59] neomerx opened #230 "Add checks that Schema returns data convertible to JSON"
Currently, a Schema might return data that are not convertible to JSON (e.g. file, stream, object, and etc). The issue becomes obvious only at the very last step when the whole document is converted to JSON string. At this point, it's very hard to tell what exactly causes the problem in `json_encode()` function.
It's needed to add some debug checks for data from Schemas. Thus if a Schema for type

[2019-03-02 16:05] #230 closed

[2019-03-20 10:04] 66mm opened #231 "Allow override of isPathRequested() in Parser implementation"
It would be great if the visibility of `Parser::isPathRequested()` can be changed from `private` to `protected` so it can be easily overridden.

The reason for this request is i implemented support for wildcard include paths and check them in the mentioned method. For now i have to copy your complete parser implementation to achieve this.

[2019-03-22 08:23] neomerx commented on #231
Hi, I've created a branch `issue231` with better `Parser` extensibility. Can you please modify custom parser and test in a suite [created for your case](https://github.com/neomerx/json-api/tree/issue231/tests/Extensions/Issue231)?

NB Travis fails because `Extensions/Issue231/IssueTest.php:90` is longer than 120 chars.

[2019-03-22 19:26] neomerx commented on #231
Updated. @66mm Please have a look.

[2019-03-25 09:39] neomerx commented on #231
@66mm Ping

[2019-03-25 09:41] 66mm commented on #231
Sorry, was busy over the Weekend.
Looks fine for me. Would be great if it will be merged into master. Thank you!

[2019-03-25 19:28] neomerx commented on #231
pushed to `develop`. Will be pushed to `master` and released in a couple of days.

[2019-03-28 07:59] #231 closed

[2019-03-28 08:04] neomerx commented on #231
Published https://github.com/neomerx/json-api/releases/tag/v3.0.3
Thanks for the support :star2:

[2019-04-02 13:06] nebur81 commented on #229
I also believe that more documentation is necessary. If this framework had API docs I think it would be a great framework. But right now you lose a lot of time in guessing how certain things work

[2019-04-02 18:53] neomerx commented on #229
@nebur81 Have you looked at Wiki? The API is actually quite simple. Don't hesitate to ask if anything is unclear or send a PR to the wiki to make it better.

[2019-04-03 15:24] nebur81 commented on #229
@neomerx  Yes, I have looked at the wiki. Don't get me wrong, I think it's a great framework, It's only as a comment says: maybe more indepth API docs could be useful. I'm a newbie with jsonapi
Anyway I have a doubt, I make a test to encode an author (using some of your test files) and when I test it with Postman says that: **Content-Type →text/html; charset=UTF-8**
Content type should not be appl

[2019-04-03 19:59] neomerx commented on #229
@nebur81 Can you please open a new issue with your question? I'll remove our conversation from here to avoid duplicating.

[2019-04-04 12:02] nebur81 opened #233 "Problem with Content-Type: application/vnd.api+json"
I'm newbie with jsonapi and I made a test to encode an author (using some of your test files) and when I tested it with Postman I get: **Content-Type →text/html; charset=UTF-8**
Content type should not be application/vnd.api+json?.

I encoded it with: `echo $encoder->encodeData($author);`

Also I made a test to response only meta information and I get a Content-Type text/html too. I used this code

[2019-04-04 18:23] neomerx commented on #233
Hi, what you're trying to do is usually done something like
[code]

As you can see the `response` part is quite simple but very framework dependent. The example above uses [diactoros](https://docs.zendframework.com/zend-diactoros/v2/custom-responses/), however there are other very respectable frameworks (e.g. [guzzle](http://docs.guzzlephp.org/)). Of course, you can use old good [header](https://w

[2019-04-05 10:44] nebur81 commented on #233
Ok, I will take a look to those frameworks. Thank you so much for help.

[2019-04-05 19:07] nebur81 commented on #233
Just a clarification, I used this code to get a response according to jsonapi:

[code]
The response is:
[code]
Because if I use the class **Zend\Diactoros\Response\JsonResponse** the response is:
`{\n    \"data\": {\n        \"type\": \"people\",\n        \"id\": \"123\",\n        \"attributes\": {\n            \"first_name\": \"John\",\n            \"last_name\": \"Dow\"\n        },\n        \"li

[2019-04-05 19:44] neomerx commented on #233
Absolutely! The `JsonResponse` internally uses `json_encode` which is not what you need. I myself use [this class](https://github.com/limoncello-php/framework/blob/master/components/Flute/src/Http/JsonApiResponse.php).

[2019-04-07 08:30] #233 closed

[2019-04-10 16:17] AnrDaemon opened #234 "Include related resource into output in its entirety?"
We're trying to reduce load on our backend by reducing the number of calls related to searching.
Search request itself is heavy enough already, but for each resource in the response, we need to provide parent object for identification.
The idea was to use `$resource->setRelationship("parent", $parent)`, but the output only contains `id` and `type` of the relation, which is about as useful, as star

[2019-04-11 09:06] neomerx commented on #234
1) Prepare your data accordingly (your ancestors and antecedents should have links to each other).
2) Add descriptions for those relationships to their `Schemas`.
3) Encode data as you usually do.

For example,
[code]

[2019-04-12 09:41] AnrDaemon commented on #234
How would it affect https://github.com/neomerx/json-api/blob/master/src/Representation/DocumentWriter.php#L134-L164 ?

[2019-04-12 10:24] neomerx commented on #234
Hmm... It's likely not related. If I understand it correctly, you have resources linked to each other (e.g. both comment and author have links/relationships to each other) and want to encode them exactly this way. The lib can encode such data with no probs and you can do it as I described earlier. The [sample](https://github.com/neomerx/json-api/tree/master/sample) application demonstrates exactly

[2019-04-12 10:39] AnrDaemon commented on #234
I want to provide both objects in a single response.
Right now, I have to hack it like
[code]

I don't have access to encoder directly, it's somewhere deep inside pipeline.

[2019-04-12 10:40] AnrDaemon commented on #234
That's the code that runs when related objects are encoded in response. It simply not supposed to return objects' attributes, at all.

[2019-04-12 12:03] h8every1 opened #235 "Include array of `Identifier`s"
I have a resource that has many child resources of the same type (e.g. category that has many subcategories), to prevent recursion-related problems (we provide both `parent` and `children` relationships) I pass only subcategories IDs and not the whole resource object in `Schema`'s `getRelationships()`.

I've tried to use array of `Identifier`s, but got error
[code]
 which is frustrating. Now I cre

[2019-04-12 14:20] neomerx commented on #234
You'd better read the spec first. That's not how it works. Attributes contain neither parent's identifiers nor properties. The parent's identifiers go to relationships and their properties (attributes) go to included. I do recommend you have a look at least at JSON API [examples](https://jsonapi.org/examples/), run the sample app I mentioned and understand the logic of how data are linked.

[2019-04-12 14:32] AnrDaemon commented on #234
Given microscopic amount of relevant information in specification, and even smaller - in your library documentation, I'm unable to make any sense of your explanation, sorry.
And the fact our project uses zend-expressive stack does not make it any easier.
Specifically, I was reading https://jsonapi.org/format/#document-compound-documents , but were unable to make connections in your library API.

[2019-04-12 14:59] neomerx commented on #235
Hi, that looks like a bug. `Identifiers` should work just fine in arrays as not in arrays. I've made some changes in `develop` branch and it should work now. Please have a look and let me know if on your side it works as well.

[2019-04-12 15:15] neomerx commented on #234
The library wiki implies that a reader understands the spec to a certain degree and helps to get the result as in the spec.
I think it would be easier to help you if you provide sample data resources, I can help to show how JSON API could be used to represent them and then how to use the lib to actually encode the data. Can you provide some data sample?

[2019-04-12 15:38] neomerx commented on #235
BTW, I believe the lib can work with resources that have `parent` and `children` interrelationships just fine. It's covered by tests.

[2019-04-12 15:42] AnrDaemon commented on #234
I can't promise a timely response, sorry. But I will see what I can cook up.

[2019-04-12 18:14] neomerx commented on #234
OK, let me know when you're ready and I'll reopen the issue. Lots of data is not needed. Just a few typical resources and relationships between them. Typical relationships are one-to-many, belongs-to, belongs-to-many.

[2019-04-12 18:14] #234 closed

[2019-04-15 08:30] neomerx commented on #235
@h8every1 ping

[2019-04-16 09:08] #235 closed

[2019-04-16 09:15] neomerx commented on #235
I haven't received any feedback from you on the fix for some time. Let me know if there are any issues remaining.

Fix released in `v3.0.4`.

[2019-04-16 10:30] lindyhopchris opened #236 "What's happened to include relationships in schema `getRelationships` method"
Quick question on v3... what's happened to the `$includeRelationships` argument that used to be passed into the `getRelationships` method on the schema?

We use this in *every* schema to do something like the following:

[code]

How do we do this in `v3`?

Note that we do this to follow the spec. For a relationship `data` member the spec says it is **resource linkage**. The definition of that is:

[2019-04-16 17:52] neomerx commented on #236
#### Short Answer
It's not needed.

#### Long Answer
`$includeRelationships` in `v1` existed because it didn't have [Identifiers](https://github.com/neomerx/json-api/wiki/Schemas#show-identifiers-in-relationships) which were added in `v3`. So you could use mostly empty resources without attributes and relationships. Kinda hack.

At that time it was OKeish solution but if you think the existence of

[2019-04-16 18:24] neomerx commented on #236
A solution could be as simple as translate requested paths (for example, post's `comments,comments.author`) to a simple map which relationships should be loaded.
[code]

[2019-04-17 07:12] lindyhopchris commented on #236
There's two different issues with your response...

## Issue 1

**TLDR: your encoder can no longer encode responses that conform with JSON API's design, and this will break client-side JSON API implementations.**

The spec defines the `data` member of a relationship with two words [here](https://jsonapi.org/format/#document-resource-object-relationships): *resource linkage*.

The definition of [re

[2019-04-17 07:14] lindyhopchris commented on #195
Reopened this because the problem has been re-introduced in `v3` by removing the `$fieldKeysFilter` from the `getAttributes()` method.

[2019-04-17 07:19] lindyhopchris commented on #236
Because the whole point of the spec is to give the client control of what it is in the document, not the server!

[2019-04-17 07:55] lindyhopchris commented on #236
As an example, the Ruby JSON API serializer only serializes the `data` member of a relationship if it is in the `include` specified by the client:
https://github.com/fotinakis/jsonapi-serializers#compound-documents-and-includes

Here's a good write-up from the Ember community:

https://www.ember-cli-mirage.com/docs/upgrading#0-3-x-0-4-upgrade-guide

[2019-04-17 09:28] neomerx commented on #195
The lib has no implementation of `SchemaInterface`. It's on developer's side and they are free to implenent it the way they wish.

@lindyhopchris Can you please tone down a bit? I'm closing the issue because currently, it duplicates #236  :fire:

[2019-04-17 09:28] #195 closed

[2019-04-17 10:21] neomerx commented on #236
I'm sorry for stating very obvious things but steps to resolve an issue might look like
1) A problem is defined.
2) A solution plan is defined.
3) The solution is implemented and tested.
4) The solution is validated.

We are currently at 0)

A short and clear definition for 1) is needed.

I'd like to exclude some of your claims from the discussion.

TLDR: your encoder can no longer encode response

[2019-04-17 10:32] lindyhopchris commented on #236
Thanks for the response. I'm not trying to be awkward, it's just your `v3` encoder does not allow me to create the same encoded content that I'm able to do on `v1/v2`. This indicates there's tests missing.

I can help define what the issue is. How about I add a test to the `2.x` branch for the scenario? Then you can back port the test into `v3`?

[2019-04-17 13:44] neomerx commented on #236
I believe it's rather _encoder does allow me to create the same encoded content but not the way it used to be_

That's likely to be pretty ordinary data with includes and fields set filters where information about the include paths and the filters a `Schema` would take from input arguments of `getRelationships` method.

For both `v2` and `v3` information about the paths and filters are _inputs_. I

[2019-04-17 15:25] lindyhopchris commented on #236
I suppose we're almost on the same page, but not quite. FWIW I'm really not trying to be awkward here! This is a feature that led us to choose your package, so much more than a convenience!

Creating a map to pass to the schema isn't as simple as you say it is. Given this request:

`GET /api/posts?include=comments.user.country,author.top-posts`

What happens if the `author` relationship actually r

[2019-04-18 05:18] neomerx commented on #236
I've created a temporary branch for the issue. Please have a look at `Tests\Extensions\Issue236` where I demonstrated how to have _a current path of the resource being parsed_ in a `Schema`. I think it should make the issue solution pretty straightforward.

[2019-04-18 09:17] lindyhopchris commented on #236
I have only had a brief look at this. I get the idea of changing the internals via the factory, but the test is not equivalent to the functionality that is lost from `v1/v2`. So setting up the test to create the two scenarios would be an improvement.

In the example that you've set up, in the `comments` schema, you need to know that the `author` is going to be included so that you know whether or

[2019-04-18 11:23] neomerx commented on #236
With a few additions in tests, you can have both _current path_ and the _all path to include_. Having both, calculating the next paths should be trivial.

Please have a look.

[2019-04-18 12:33] lindyhopchris commented on #236
Ok I see where you're going with this. It feels like a significant step backwards but I can see how I can extend the implementation to do what it did before.

Considering there's a `PositionInterface` object, I'd much rather that's passed through as that is essentially what's going on here - the schema is being told what the encoder's position is.

I'd also need the `$hasData` decision to be deleg

[2019-04-18 14:58] neomerx commented on #236
That's my turn to rant :smiley: What I've learned is that the more the lib provides access to implementation specifics the more insults and downvotes I get in case of changes. So I deliberately choose only the curent path instead of `PositionInterface`.

I don't understand why it's _need_ but not _want_. Why you can't just avoid fill it in or `unset()` in the first place?

[2019-04-19 07:07] lindyhopchris commented on #236
My preference would be to have a value object rather than a string. This whole issue is around the schema needing to know the current position of the resource it's serializing, so as there's a value object that represents that our normal approach would be to pass it through. The `getPosition()` method on the parser allows me to do that anyway.

Re: `$hasData`:

We use the `SHOW_DATA` constant in e

[2019-04-19 09:09] neomerx commented on #236
`SHOW_DATA` is not some magic. It was and cannot be anything more than
[code]
In `v3` you can do either same `unset` or better do not fill it in in the first place.

Anyway, I think what does make sense is writing a decent `getRelationships` **that can be reused**. I expect it will need neither position nor `SHOW_DATA`.

Do you parse include paths to use it against input validator or database? Or

[2019-04-22 22:52] untone-survive commented on #235
Sorry for the delay. Everything seems to be working OK now.

[2019-04-23 07:42] neomerx commented on #236
@lindyhopchris ping

[2019-04-23 07:55] lindyhopchris commented on #236
It's an Easter holiday here in the UK.

Of course I understand that `SHOW_DATA` is just an unset - but it's *magic* is that it happens during the iteration while processing the array that represents the relationships.

Surely we're talking about one line here:

[code]

[2019-04-23 08:30] neomerx commented on #236
Oh, sorry :smile:

Let me know when you're back so we can finish reusable `getRelationships`. I'd like to know how you work with input include paths.

[2019-04-23 14:30] lindyhopchris commented on #236
We validate the allowed JSON API include paths, i.e. do not convert them for validation.

We then convert them to eager loading paths and ask the query to eager load those paths. The format is a dot notation for eager loading. This is if the resource supports eager loading - which it may not.

However as I've stated before, these may not be the only paths that are eager loaded: as the developer ma

[2019-04-23 18:18] AnrDaemon commented on #234
Turned out, it had to have configuration in 3 different places to work, and even then require additional manual labor (but this one due to underlying database structure, since I'm not linking data by primary key).

[2019-04-24 09:40] neomerx commented on #236
I've made a reusable class that takes requested include paths and fieldsets from the input request and returns expected include paths and fields for a given current path and type. Kinda _good_old_ parser intentions.

[code]

[2019-04-27 13:24] lindyhopchris commented on #236
Ok great, so I'm assuming you'll add that to this package?

Also, can you now show me how to use it in a schema without `SHOW_DATA` being a constant? Assume that a schema might have up to 10 relationships and there might be 50+ schemas?

[2019-04-28 14:39] neomerx commented on #236
I've updated the test which shows how to get [information about attributes and relationships to be included in the output](https://github.com/neomerx/json-api/blob/1b5db30947d8ac31f25836537810068541d36d20/tests/Extensions/Issue236/IssueTest.php#L63-L67).

An equivalent of `SHOW_DATA === false` would be not returning `RELATIONSHIP_DATA`.

[2019-04-29 09:02] lindyhopchris commented on #236
Great, but can you confirm that the `SchemaFields` is being added to the package? There's little point having something that the package needs to support that is hidden in a test folder.

That's one major part of my issue though - what is currently succinct, easily readable and maintainable code, gets changed into a horrific mess of `if` statements.

I don't understand why we can't put a `RELATION

[2019-04-30 07:40] neomerx commented on #236
It's nice to hear we've finally come to a mutual understanding :smile:

`SchemaFields` has excessive attributes and methods so you're likely to tailor it to your needs and half the size to about 70 lines. It was included in the sample solution to demonstrate that having a current path of the resource being parsed in a Schema is sufficient. You'd probably include it into a custom base schema with `

[2019-04-30 07:41] neomerx commented on #236
Merged to `develop`. If everything is OK it will be merged to master and released.

[2019-04-30 07:49] lindyhopchris commented on #236
As it stands we won't be able to use v3.

Can you move this line to a protected method so it can be overridden?
https://github.com/neomerx/json-api/blob/master/src/Parser/RelationshipData/ParseRelationshipDataTrait.php#L58

[2019-04-30 09:42] neomerx commented on #236
Can you please explain why it's _need_ but not _want_?

[2019-04-30 10:03] neomerx commented on #236
There are millions of ways to develop the code and one of the solutions could be a conversion function `c()` that transforms _old_ style description to _new_ ones. It might be your custom `BaseSchema` with

[code]

[2019-04-30 10:57] lindyhopchris commented on #236
I have, multiple times. But here we go again.

I think we just have a totally different approach to open source... we'd intentionally put things in protected methods so that the developer can easily override for their own implementation. We don't find that this is difficult to maintain.

To use your example, we'd have to do this:

[code]

(The other solution would be to loop through the relationsh

[2019-04-30 13:32] neomerx commented on #236
Excuse me, but the whole lib is made on interfaces and highly modular. Do you rebuke me for not having every single method as a part of an interface? The root of the issue is that you ignore user inputs (e.g. filters and include paths) while preparing your data to encode. You've got your data not ready and when the encoder asks your schemas for data to encode it response with 'I do not know' and y

[2019-04-30 13:44] neomerx commented on #236
Also, feel free to completely replace `\Neomerx\JsonApi\Parser\IdentifierAndResource::getRelationships` (it's only a handful of lines), use `ParseRelationshipDataTrait` as private/protected or even public and add `getNonHorrificRelationships` with such extra params as current path and all the bells and whistles you want. I've made quite a big sample for you so for a skillful developer as you it wi

[2019-04-30 14:07] neomerx commented on #236
Your `IdentifierAndResource` would receive in constructor
- curent position PositionInterface $position,
- FactoryInterface $factory,
- resource schema SchemaContainerInterface $container,
- resource itself $data

Your  `getRelationships` should `yield` for every relationship
[code]

So you can support **any** format for describing your relationships in your schemas and use `Schema::getNonHorrific

[2019-04-30 15:06] lindyhopchris commented on #236
This is not the root of the issue, which is why we're struggling to come to an agreement.

OK personally I do not like the idea of copying & pasting so many (87) lines of code to change just a couple of lines of it, but I understand your position.

If we do move onto v3 I'll submit a PR to update the `Issue236` tests to reflect how we're actually using it, because how those tests are structured at

[2019-04-30 15:06] #236 closed

[2019-05-01 10:32] lindyhopchris opened #237 "Relationship data is parsed even if parser is not parsing the data"
So I've identified the root cause of #236. I'm opening this as a new issue to wipe the slate clean and document what the problem is. I'm trying to be as constructive as possible here by proposing a solution to this root cause.

One approach to JSON API that server-side libraries take is to only ever have the `data` member of a relationship in the encoded document if the related resource appears in

[2019-05-04 09:38] neomerx commented on #237
I think I have to put your mind to some of the nuances of what is the data and how it could and should be processed. You need to understand them before pushing a 'solution'.

Suppose we want to encode a person and a few his/her comments. Let's consider a couple of possible JSON API document and answer what kind of **data** we need in relationships. Spoiler: it's more than either _nothing_ or the _

[2019-05-04 10:10] lindyhopchris commented on #237
Yes I totally agree with those, but you're missing a scenario (which is what this issue is about): *data only if related resource is included*.

So the four scenarios are:

1. No data in relationship - schema does not return data.
2. Data in non-included relationship - schema returns the identifiers
3. Data in included relationship - schema returns the related resources.
4. Data only if relationsh

[2019-05-04 10:14] neomerx commented on #237
If you do not want to provide any identifiers in relationships but links only, you can add support for `SHOW_DATA` between [these two lines](https://github.com/neomerx/json-api/blob/8d8eba66940dfb491a57262df4638bb640d98849/tests/Extensions/Issue236/CustomIdentifierAndResource.php#L85-L86). It might be something like
[code]

[2019-05-04 10:22] neomerx commented on #237
Could be achieved either by omitting `RELATIONSHIP_DATA` or by `RELATIONSHIP_HAS_DATA` set to false as shown above.

Could be achieved with `IdentifierInterface`.

Typical usage. Just return full resource in `RELATIONSHIP_DATA`.

If you want identifiers then it's 2) or 3) though only identifiers will be used in relationships and no resources will be added to included section.

If you do not want i

[2019-05-04 10:37] neomerx commented on #237
I've updated the sample. So [you can try it](https://github.com/neomerx/json-api/blob/95cc4aadf7cdac2a6fe5307621933f48a1f77292/tests/Extensions/Issue236/CustomAuthorSchema.php#L72-L75) yourself.

[2019-05-04 10:59] lindyhopchris commented on #237
Ok great but why not add it to this package as this is a standard JSON API approach? That's the bit I don't understand... this isn't an extension, it's a standard use-case and a totally compliant interpretation of the spec. If the point of your encoder is to be JSON API compliant, then this missing scenario needs to be added in.

If you do not want to add it in, please can you explain how we exten

[2019-05-06 05:48] neomerx commented on #237
As far as I understood, you wanted to have `$includeRelationships` in `getRelationships()` and ability to return a `Closure` in `RELATIONSHIP_DATA` accompanied with `RELATIONSHIP_HAS_DATA` that can prevent the closure ever been executed. Can you please confirm the solution I've shown solves your migration problem?
I would appreciate if we can agree it is a working solution and move the next topic

[2019-05-06 05:57] neomerx commented on #237
This message is temporary and I'll remove it soon. I'm currently living through a loss of a very close family member so for some time I will be limited in terms of time, dedication and concentration on non-required things.

[2019-05-06 10:32] lindyhopchris commented on #237
Sorry to hear the news from your temporary message, and that is of course totally understandable and right that you'll have limited time on this package.

I'll close this issue for now.

[2019-05-06 10:32] #237 closed

[2019-05-08 20:42] neomerx commented on #237
@lindyhopchris Shall we continue the discussion? Do I understand it correctly, the solution does solve your problem though you think more code should be moved from _extention_ to the main code base?

[2019-05-10 08:56] lindyhopchris commented on #237
The solution is not ideal and we would not use it for a number of reasons.

It's injecting a runtime dependency (SchemaFields) into something that we resolve out of a service container (the schemas). We treat the schemas as a service because it allows schemas to be injected with other services via constructor dependency injection.

The SchemaFields cannot be a service because we don't know where t

[2019-06-18 15:13] shadowhand opened #238 "EncoderPropertiesTrait::withIncludePaths only works with arrays"
Because of [this type][1] the method only works with arrays, despite the `iterable` type in the base method.

[1]: https://github.com/neomerx/json-api/blob/1807c3b6bebdfbec4690b8da2e6cdeb94048c94e/src/Encoder/EncoderPropertiesTrait.php#L206

[2019-06-18 18:00] neomerx commented on #238
Agree. Should be `iterable`.

[2019-06-18 18:38] #238 closed

[2019-08-21 14:26] Doqnach commented on #229
Would love to see some documentation on how to handle a `POST`/`PUT`/`PATCH` with a (new) resource and one with a collection of (new) resources.

[2019-08-22 07:06] neomerx commented on #229
@Doqnach Handling HTTP is out of the project's scope. You can use any framework of your choice to handle HTTP and use the library to encode your models/resources into JSON.

[2019-08-22 07:26] Doqnach commented on #229
@neomerx I understand that since this is a framework agnostic library, that handling that is out of scope.

But I was expecting there to be some way to convert (incoming) JSON to models/resources, and not only the other way around? And do some validation of the payload coming in?

[2019-09-10 12:56] Munsio opened #240 "subUrl property is private - BaseSchema"
Due to the visibility of the property `$subUrl` in the BaseSchema it is not possible to overwrite it in the self implemented Schema itself.

https://github.com/neomerx/json-api/blob/master/src/Schema/BaseSchema.php#L40

Is this intended or should this property be `protected` instead?
Or is there something i miss?

[2019-09-13 08:24] neomerx commented on #240
Yes, it's done intentionally because URLs typically have a certain format and the field you refer to is a caching field.

You can overwrite method [getResourcesSubUrl](https://github.com/neomerx/json-api/blob/7a64109c4d1f1be2484906e6194b0898e6ea99e0/src/Schema/BaseSchema.php#L157-L164) if you want subUrl to be composed in a different way.

[2019-09-13 08:31] Munsio commented on #240
Okay.
So then the if construct where subUrl gets checked if it is null is unnecessary cause there is no setter for subUrl, and to the nature of private there is no possibility to assign any value to it.
In fact the subUrl property can be removed - am i right?

[2019-09-13 10:43] neomerx commented on #240
If you want `getResourcesSubUrl` behave differently you will need to override it. Feel free to add any new `protected` or `private` fields.

Also, you don't have to inherit from `BaseSchema` and can implement `SchemaInterface` from scratch. That would be only a few tens of lines and `BaseSchema` is a good starting point.

[2019-09-13 11:02] Munsio commented on #240
I think that we got carried away a little.

I know that i can override `getResourcesSubUrl` if i want to change the behaviour and also that i can implement my own `BaseSchema` which implements `SchemaInterface`.

But i am talking about the current implementation of `BaseSchema` which contains a private property without any setter for it, which implies that the value of this property can never chan

[2019-09-13 14:12] neomerx commented on #240
What do you think [this line](https://github.com/neomerx/json-api/blob/7a64109c4d1f1be2484906e6194b0898e6ea99e0/src/Schema/BaseSchema.php#L160) does?

[2019-09-13 18:10] Munsio commented on #240
ahh - thats why you are referring to it as `caching` variable.

Ok then nvm - i will close this issue.
All questions answered - Thanks

[2019-09-13 18:10] #240 closed

[2019-09-22 18:06] neomerx commented on #237
@lindyhopchris Hi, I'd like to return to this discussion. I've currently got 2 ideas
- sending `Neomerx\JsonApi\Contracts\Parser\PositionInterface` as a second param to `getRelationships`
- sending a wrapper around `Neomerx\JsonApi\Contracts\Parser\PositionInterface` instead of the position.

If a position (level, path, a name of the parent relationship) is available then filtering could be done a

[2019-09-23 08:55] lindyhopchris commented on #237
Ah ok, hadn't been expecting you to suggest that.

I've banked upgrading, and probably won't be doing anything around upgrading until later this year (because of other work I've got on at the mo). My plan had been to attempt to upgrade to v3 and see where I get.

Maybe it would be better for us to revisit this at the point I do the upgrade, because it's a bit difficult to comment on what approach

[2019-09-23 10:24] neomerx commented on #237
OK. I'm expecting you to have difficulties with accessing filters (paths, fieldsets) from schemas. Unlike `position` the encoder doesn't have filtering info where it invokes the schemas. The filters will be applied later in the upper stack.
Currently, this problem could be solved by creating schemas (objects or via closures) with filtering info and then sending the schemas to the encoder.
An elega

[2019-10-13 19:43] nanawel opened #241 "[Question] How to exclude relationships on collections by default?"
Hi,
First of all, thank you very much for your lib. It eases a lot the implementation of a JSON-API compliant server application.

Next, I'd like to know if it's possible (and how) to exclude **by default** (= when there is no `?include=` query parameter) relationships on the items of a collection, when it's the primary data.
The reason is quite obvious: retrieveing those data can be very resource

[2019-10-14 19:39] neomerx commented on #241
For example, you may return what you have. If you have full data for a relationship return full data. If you have an only ID (e.g. author_id) then return only the ID and if you have nothing then return just link to the relationship.

In [this example](https://github.com/neomerx/json-api/blob/7a64109c4d1f1be2484906e6194b0898e6ea99e0/tests/Data/Schemas/PostSchema.php#L69-L74) it checks actual data i

[2019-10-15 04:29] nanawel commented on #241
Hi @neomerx, thanks for your response.

That's not possible because I virtually have all data when I process the schema. What I don't know is whether I should include them or not.

I think I'll have to investigate this way. I may go with the `FieldSetFilter` like I said, but I'll need to tune it a little bit. What's problematic anyway is that I might need to create a sub-interface of `\Neomerx\Jso

[2019-10-15 16:41] neomerx commented on #241
@nanawel Would be interesting to see your fork, I might steal some ideas ;)

[2019-10-16 04:25] neomerx commented on #236
@lindyhopchris Please have a look at a branch `v4-rc`. Essentially that's v3 where a Schema has an additional parameter [ContextInterface](https://github.com/neomerx/json-api/blob/8e48f9acd98fc9c5b125a695c56ed13a7a94c211/src/Contracts/Schema/ContextInterface.php#L24-L46) in `getRelationships` method
[code]

I would appreciate your feedback before actually releasing it as the next version.

[2019-10-16 04:27] neomerx commented on #241
@nanawel Also, please have a look at a branch `v4-rc`. Essentially that's v3 where a Schema has an additional parameter [ContextInterface](https://github.com/neomerx/json-api/blob/8e48f9acd98fc9c5b125a695c56ed13a7a94c211/src/Contracts/Schema/ContextInterface.php#L24-L46) in `getRelationships` method
[code]

**Update** `ContextInterface` is a simple getter. You can replace the default implementatio

[2019-10-16 08:36] lindyhopchris commented on #236
The context interface looks good for providing the schema with the info it needs about where in the encoding process it is being uses. So think that's a positive step.

This context would also be required for the `getAttributes()` method too (because that might want to use the field sets on the context). See #195

So if your preference is to provide the context to specific methods, it needs to be

[2019-10-16 09:37] nanawel commented on #241
Ooh that's exactly how I was imagining how it could be done.
I thougt it was missing a "context" object that could be used by the schema to know what it should return.

As I don't have enough time left on this subject I went with the "return everything even if it's slow" solution, but I should be able to get back on it soon. I'll give your v4 a try!

[2019-10-16 11:00] neomerx commented on #236
@lindyhopchris added :wink:

[2019-10-16 11:02] neomerx commented on #241
@nanawel context added to `getAttributes` as well. Please update.

[2019-10-16 12:25] lindyhopchris commented on #236
Nice, thanks!

[2019-10-17 15:43] neomerx commented on #241
@nanawel Shall I expect any feedback from you on v4?

[2019-10-17 18:48] nanawel commented on #241
Sorry, not at the moment unfortunately. But I'll give it a shot later. Thanks for your time and your advice anyway. You may close this ticket now.

[2019-10-20 14:26] neomerx commented on #241
Released in [v4](https://github.com/neomerx/json-api/releases/tag/v4.0.0).

[2019-10-20 14:26] #241 closed

[2019-10-20 14:27] neomerx commented on #236
Released in [v4](https://github.com/neomerx/json-api/releases/tag/v4.0.0).

[2019-10-21 09:13] lindyhopchris commented on #236
Great, thanks.

[2019-12-17 16:16] efinder2 opened #242 "Catch exceptions from json_encode"
If the json encoder in /json-api/src/Encoder/Encoder.php:413 can't parse the json properbly (e.g. Encoding problems) the function json_encode returns false. this causes in error cause of strict_types=1. This should be prevented.

[2019-12-22 01:33] neomerx commented on #242
Is it hypothetical or you've got some real input that can't be handled?

[2019-12-22 06:00] efinder2 commented on #242
All our files are iso-8859-15 encoded. So I got an encoding exception when I try to use the api with strings with special chars like ü. Is there a way to set a base encoding?

[2019-12-22 21:48] neomerx commented on #242
@efinder2 You can set both options and depth with methods `withEncodeOptions` and `withEncodeDepth` as described [here](https://github.com/neomerx/json-api/wiki#encode).

[2019-12-22 22:00] efinder2 commented on #242
Thank you much. I'll try it

[2019-12-22 22:09] neomerx commented on #242
I'll keep it open for a while. I've got an idea of how to add some tips to use those methods or check if inputs (e.g. meta) can be encoded to JSON.

[2019-12-22 22:37] neomerx commented on #242
As for strings. PHP manual [says](https://www.php.net/manual/en/function.json-encode.php#refsect1-function.json-encode-parameters) `All string data must be UTF-8 encoded.` Have a look at [predefined JSON constants](https://www.php.net/manual/en/json.constants.php) that might help you.

It seems json_encode can work with any input except resources which I guess only possible if a user adds it with

[2019-12-25 22:37] neomerx commented on #242
If you have any further questions please don't hesitate to ask.

[2019-12-25 22:37] #242 closed

[2020-02-28 08:48] efinder2 opened #243 "Error while using BaseQueryParser and Encoder together"
I'm currently implementing an REST-API with your lib. I've tried to use the [BaseQueryParser](https://github.com/neomerx/json-api/blob/7d5e51f22c298ff858626f966a1a035d41d557fc/src/Http/Query/BaseQueryParser.php#L26) and the [Encoder](https://github.com/neomerx/json-api/blob/7d5e51f22c298ff858626f966a1a035d41d557fc/src/Encoder/Encoder.php#L38) together. I've got an error in [this](https://github.co

[2020-02-28 11:28] neomerx commented on #243
Can you please post some code to illustrate how to get the error? I do not quite get how you succeed with crashing it :smile: Thanks

[2020-02-28 12:54] efinder2 commented on #243
I've modified the existing testIntegrationWithEncodingParameters. The crashed will be caused if the result of get Includes isn't "escaped" by iterableToArray.

Attention the assert in the withIncludedPaths prevents it with tests. It only throws when the assert is removed.:
[code]

[2020-02-28 15:26] neomerx commented on #243
Thanks. I'll have a look this weekend.

[2020-02-29 23:17] neomerx commented on #243
I am in doubt. The parser actually parses inputs paths and returns them 'parsed'. However, `withIncludedPaths` expects a list of dot-separated paths. And each of them is right and some sort of adapter is needed. Technically, the solution is simple and instead of
[code]
it is required to
[code]
where
[code]
What are you thoughts on this?

[2020-03-01 04:36] efinder2 commented on #243
Thanks for your response. Now I'm confused. I don't understand why you put iterableToArray() as parameter in the test, but above you explain it should be iterableKeys?

Also isn't it the sence of a parser to prepare the parameter for later usage in the fetching and rendering of the output? Where do someone need additional data of the getInclude method?

In general it would be helpful to have more

[2020-03-01 08:28] neomerx commented on #243
Sorry for confusion

I needed paths like `post.comments.author` to be split into `['post', 'comments', 'author']` so I could build database/ORM quires and load those relationships. Thus, the `parser` seemed to be a perfect candidate to do such parsing and have the parsed result as an array/Generator. However, I bumped the same problem as you, the `Encoder` wanted paths dot-separated because it nee

[2020-03-01 11:02] neomerx commented on #243
Thanks. I think it would be better to move the compatibility note to https://github.com/neomerx/json-api/wiki/Parsing-API-Parameters#query-parameters and rather than referring to 'tests' and provide a usage sample.

[2020-03-03 06:03] #243 closed

[2020-03-03 06:12] neomerx commented on #243
Released in 4.0.1

[2020-03-23 16:40] efinder2 opened #246 "Fetch a link from an existing Element"
I'd like to get the self URL for the new created Element. According to the [spec](https://jsonapi.org/format/#crud-creating) you should send a Location-Header with the new URL. If I parse the element I get the new self::URL in JSON. How to get the URL without parsing the json and extracting the Url.

While debugging I've seen the most methods wich would be helpfull are protected in the DocumentWri

[2020-03-25 04:22] neomerx commented on #246
[This code](https://github.com/limoncello-php/framework/blob/3976bcfa4edcc358f98237ed6a51f7c303d588b6/components/Flute/src/Http/Traits/DefaultControllerMethodsTrait.php#L876-L887) might answer your question. It receives a newly created object, URL of the request to create one and a schemas.  The schemas is used to get a schema for the object and [BaseSchema::getSelfLink](https://github.com/neomerx

[2020-03-29 06:18] neomerx commented on #246
Hi, I'm closing the issue because I've got a feeling that the question has been answered. Please don't hesitate to ask any further questions.

[2020-03-29 06:18] #246 closed

[2020-04-03 14:43] beselmonster opened #247 "How to encode custom array NOT LARAVEL MODEL INSTANCE"
![image](https://user-images.githubusercontent.com/24416981/78372781-5ea9f500-75d2-11ea-8c9d-a4393dbf0d69.png)
I just want to use my custom schema DropLineSchema to encode custom array which is array of arrays.
How to do that? Is every array in array required to be laravel model? I cant really figure out. All examples i saw had laravel models in it

[2020-04-05 08:20] neomerx commented on #247
Hi, the library is framework agnostic and knows nothing about Laravel or any other framework.

Though it has some requirements for inputs. Simply put, you should pass either a class instance or an array of instances. The classes could be anything from `\stdClass` to Custom or Laravel or Doctrine models. The `Schemas` are the classes that know how to extract needed data from those 'models'.

[2020-04-05 08:27] neomerx commented on #247
For you it could be
[code]

[2020-04-05 13:48] beselmonster commented on #247
Thanks. But is there any option i can use array of arrays? When i try it, i have an error
"assert(): assert($dataOrId instanceof SchemaIdentifierInterface) failed".

[2020-04-11 05:10] neomerx commented on #247
@beselmonster I know nobody likes reading manuals :smile: but the spec probably do not have such thing as array of arrays therefore this lib do not have it. Array of objects might be helpful for you as shown in the example above.

[2020-04-11 05:10] #247 closed

[2020-04-15 15:34] efinder2 opened #248 "How to create nested relationships"
I currently creating a json-api app with the possibility of deep nested `include` parameters. The problem is how to pass  an edited context to the next schema?in the  getRelationships method?

The models are build by eloquent so always all properties and relationships are available or are queried if needed. Is there a better way than the following steps?

1. search through all paths
1. find the ma

[2020-04-16 05:51] efinder2 commented on #248
When I use the ContextInterface wich is passed to the getRelationship function and call getPostion an exception is thrown is this normal?

`Symfony\Component\Debug\Exception\FatalThrowableError: Return value of class@anonymous::getPosition() must be an instance of Neomerx\JsonApi\Contracts\Schema\PositionInterface, null returned in ....\vendor\neomerx\json-api\src\Factories\Factory.php:578`

[2020-04-16 06:01] efinder2 commented on #248
This is only the case in the root level. In the related class the variable is filled.

[2020-04-16 06:45] efinder2 commented on #248
Nevermind I've used it wrong.

[2020-04-16 06:45] #248 closed

[2020-04-29 14:48] efinder2 opened #249 "sparse fields filter relationships"
I've started implementing the sparse fieldsets in my application. At first I was surprised how easy it was to add the functionality to my app. Without included relationships is the result as expected. Problem is that the relationships aren't added if I use sparse fieldsets. These could be accomplished by adding the type name to the fieldsets array.

According to the tests this should be working:
[

[2020-04-30 06:05] efinder2 commented on #249
The same thing you do in the tests. According to the specification https://jsonapi.org/format/#fetching-sparse-fieldsets there is no need to do that.
Here a snippet from the class FieldSetFilter:77-81
[code]
It checks whether the name of the relationship type is named in the required fields. To be sepc conform this method should always return true imho.

[2020-04-30 06:21] efinder2 commented on #249
I know there were a discussion on this topic in #105 and #134. In my opinion the example in the 1.0 spec requires my interpretion:
[code]
There is no reference of the author or people in the requested fields. But I assume the author should be included. Otherwise this would be nonsense

[2020-04-30 06:21] efinder2 commented on #249
Wrong button on comment pressed 🙈

[2020-07-13 14:38] geoidesic opened #250 "Member names are converted to kebab-case"
I'm passing through this data:
[code]
This is passed like so: `$encoder->encodeData($data);`

The output converts the member names from snake-case to kebab-case.
[code]
Note that e.g. `vat_registered` is converted to `vat-registered`.
This is problematic for a number of reasons:
1) Kebab-case is not useful in most modern JavaScript frameworks – i.e. cannot be used in element directives and will no

[2020-07-16 00:20] zerkms opened #251 "stricter typing with psalm"
Would you welcome a PR which adds a stricter typing using php psalm notation?

This would, say, make possible to have a strictly typed `BaseResponses` through generics, so that it returned a statically verifiable type, not `mixed`.

[2020-07-16 20:14] geoidesic commented on #250
Actually this is not due to anything in this library. My bad.

[2020-07-16 20:14] #250 closed

[2021-02-03 15:55] lindyhopchris opened #252 "Relationship data generator is invoked more than once if data is empty"
I've been getting this error:

[code]

It only occurs when relationship data is empty. The cause of the bug is these lines here:
https://github.com/neomerx/json-api/blob/master/src/Parser/RelationshipData/RelationshipDataIsCollection.php#L130-L131

As it does not assign an empty array to `$this->parsedResources` *before* iterating over the resource, the `parsedResources` property will remain `null

[2021-02-03 16:53] lindyhopchris commented on #252
@neomerx see you haven't been active on Github since March last year. Hope everything is ok.

Hope you can tag the fix as `4.0.2`. If you need help maintaining the package going forward, do let me know.

[2021-02-19 11:07] mahagr commented on #252
Thanks! I also started my own fork as I need to add the missing pieces to the API, such as pagination and filtering.

[2021-02-19 13:24] lindyhopchris commented on #252
@mahagr looks like I'm going to have to run a fork too, as I'm not sure that PR is going to get merged. My fork is here:
https://github.com/laravel-json-api/neomerx-json-api

[2021-05-13 08:58] samizdam opened #254 "Support interface/superclass based mapping in SchemaContainer"
Case: I have multiple implementation for my entity interface and one schema for all it.

Now SchemaContainer
- use `class_exists()`, but not `interface_exists()`
- use `get_classs()` for check instance type - and known only about last class from object class parents

New logic for support interface/superclass in map for encoder should check class hierarchy in entries.

Now I need create proxy for

[2021-05-21 08:11] issa commented on #254
I had to create a subclass of `SchemaContainer` containing this:

[code]

But I would prefer to not have to do this as well.

[2022-01-30 17:24] PabloKowalczyk commented on #252
Hey @neomerx, do you need some help maintain this repo?

[2022-01-31 09:57] mahagr commented on #252
I am wondering the same. Otherwise, it would make sense to have an official fork instead of everyone doing their own.

[2022-03-03 16:00] davidyell opened #256 "How can I fix incorrect links in my `included` compound document section?"
When I am building my response, I have some related data in my `included` section, however it has an incorrect `self` link and I cannot find out how to fix it.

I have tried the various link methods in the Schema class for this object, but they are not called when it's part of `included`.

It does seem to follow the method however, as it is returning like `{urlPrefix}/{type}/{id}` which I can see

[2022-03-03 17:25] davidyell commented on #256
It is using the schema file as I was expecting. I'm not sure what file I was editing! 🤦

[2022-03-03 17:25] #256 closed

[2022-04-01 14:45] gfemorris commented on #252
Hey it seems this project is not maintained anymore. Did you agree which fork should be the "official" one?

[2022-04-01 14:51] PabloKowalczyk commented on #252
I can create and maintain something like `json-api-php/json-api`.

[2022-04-01 15:12] gfemorris commented on #252
@lindyhopchris created a fork and already has v5.0.0 in it maybe he wants to or you can adapt his changes?

[2022-04-01 16:25] lindyhopchris commented on #252
Yeah I'm happy to maintain my fork because it's a critical part of Laravel JSON:API. I'm not up for doing any re-writing, more just keeping it up-to-date for PHP versions and with the spec if that does change (though it's taking them ages to get to 1.1 any way, so doubt we'll be talking about 1.2 any time soon).

[2022-04-01 16:34] PabloKowalczyk commented on #252
Making it (fork) framework/library agnostic should be better for long term maintenance.

[2022-04-01 16:50] lindyhopchris commented on #252
Yeah to be clear, even though it's in the `laravel-json-api` organisation, it'll always be left as framework agnostic. That's because I wrap it in another package to tie it into the Laravel JSON:API implementation - i.e. there's a `laravel-json-api/encoder-neomerx` package that does that wrapping.

So my fork will always remain framework agnostic.

[2022-04-01 18:41] PabloKowalczyk commented on #252
But name can be confusing for newcomers :)

[2022-04-01 19:57] lindyhopchris commented on #252
Yeah can see that. FWIW I'm planning on keeping my fork for the time being. If there comes a point where there's another fork that is fully supported and maintained, then I can switch to that in the future.

[2022-04-04 07:49] mahagr commented on #252
Alright, I'm going to look into switching to laravel fork myself when I get back to the API.

[2022-04-05 08:27] gfemorris commented on #252
Thank @lindyhopchris .. i will switch to your fork next time i'll do any upgrades.. thanks for your work.

[2022-06-11 15:04] PabloKowalczyk commented on #252
Hello guys, it's been a while but I started my fork of this library - https://github.com/jsonapiphp/jsonapi. It started with `v1.0.0` which is the same code as `v4.0.1` of this lib, so you can change them easily.
My fork will concentrate on performance and jsonapi specification compatible.